body{
  font-family: 'Roboto', sans-serif;
}
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 38));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 38));
    }
  }
  .boslider {
    background: #080E14;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 4%;
    /* margin: auto; */
    overflow: hidden;
    position: relative;
    width: 100%;
    color: #fff;
    border-top: 0.1rem solid #4BA9FF60;
  }
  .boslider::before, .boslider::after {
    background: linear-gradient(to right, #080E14 20%, #080E1400 100%);
    content: "";
    height: 4vw;
    position: absolute;
    width: 8%;
    z-index: 2;
  }
  .boslider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .boslider::before {
    left: 0;
    top: 0;
  }
  .boslider .boslide-track {
    -webkit-animation: scroll 230s linear infinite alternate;
            animation: scroll 230s linear infinite alternate;
    display: flex;
    width: calc(200px * 38);
  }
  .boslide {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
  }
  .green{
    color: #5CFFC4;
    margin-right: 4%;
  }
  .red{
    color: #F53D26;
    margin-right: 4%;
  }
