:root{
  --white:#fff;
  --dark:#000;
  --blue: #4BA9FF;
  --bluew: #2790F1;
  --bgdark: #202328;
  --bshadow:rgba(255, 255, 255, 0.7);
}
body{
  font-family: 'Roboto', sans-serif;
}
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 7));
    }
  }
  .boslider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 4vw;
    /* margin: auto; */
    overflow: hidden;
    position: relative;
    width: 100%;
    
  }
  .boslider::before, .boslider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 4vw;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .boslider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .boslider::before {
    left: 0;
    top: 0;
  }
  .boslider .boslide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(150px * 14);
  }
  .boslider .boslide {
    height: 50px;
    width: 150px;
  }