body{
  font-family: 'Roboto', sans-serif;
}
#btop {
    display: inline-block;
    background-color: var(--white);
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 3vh;
    right: 4vh;
    transition: background-color .3s, 
      opacity .4s, visibility .4s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    border: 1px solid var(--white);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }
  #btop::after {
    content: url("../img_/btopd.svg");
    
    font-size: 2em;
    line-height: 42px;
    color: var(--dark);
  }
  #btop:hover {
    cursor: pointer;
    border: 1.6px solid var(--blue);
    background-color: var(--bgdark);
  }
  #btop:hover::after{
    content: url("../img_/btop.svg");
    
  }
  /* #btop:active {
    background-color: #555;
  } */
  #btop.show {
    opacity: 1;
    visibility: visible;
  }