#nav_bg {
    background-image: url("../img_/teslatitle.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}

.participation,
.leftlogoblock,
.rightlogoblock,
#ca_bt {
    display: none;
}
#navigation {
    padding: 1.05% 0 5.5%;
}

.toptitle {
    margin: 7.4% 0 1.6%;
}
.toptitle::after {
    content: "TESLA";
    font-weight: 500;
    font-size: 2.3rem;
}
.toptitle1::after {
    content: "테슬라에 대한 정보를 자유롭게 나누세요.";
}