#nav_bg {
    background-image: url("../img_/microsofttitle.jpg");
    background-position: center 53%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(70%);
}

.participation,
.leftlogoblock,
.rightlogoblock,
#ca_bt {
    display: none;
}
#navigation {
    padding: 1.05% 0 7%;
}
.toptitle {
    margin: 7.4% 0 1.6%;
    text-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 1);
}
.toptitle::after {
    content: "Microsoft";
    font-weight: 500;
    font-size: 2.5rem;
}
.toptitle1::after {
    content: "마이크로소프트에 대한 정보를 자유롭게 나누세요.";
}