* {
  margin: 0;
}

/* Sticky Header Style */
/* ---------------------------------------- */
.sticky-header {
  padding-top: 100px;
}

.sticky-header .header1 {
  height: 60px;
  background-color: rgba(52, 152, 219, 0.9);
}

.sticky-header .header1 h1 {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
:root{
  --white:#fff;
  --dark:#000;
  --blue: #4BA9FF;
  --bluew: #2790F1;
  --bgdark: #202328;
  --bshadow:rgba(255, 255, 255, 0.7);
  --bgdark-rgb:rgba(32, 35, 40, 1);
  --white-main:#f5f5f5;
  --bgwhite:#f0f0f0;
}
body{
  font-family: 'Roboto', sans-serif;
  background: #111111;
  color: #fff;
  position: relative;
  top: 0;
}

  .header {
    /* background-image: url("../img_/headerimgw1.png"); */
    background-repeat: no-repeat;
    background-position: 74.5% 31%;
    background-size: 31%;
  }

  @media (min-width: 0) {
    .header {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .header:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
  @media (min-width: 576px) {
    .header {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
    }
    .header:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
  @media (min-width: 768px) {
    .header {
      max-width: 720px;
      margin-left: auto;
      margin-right: auto;
    }
    .header:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
  @media (min-width: 992px) {
    .header {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
    .header:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
  @media (min-width: 1200px) {
    .header {
      max-width: 100vw;
      
    }
    #navigation:after {
      content: " ";
      display: block;
      clear: both;
    }
    
  }
  
  a {
    text-decoration: none;
    color: var(--white-main);
    
  }
  
  .centernav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: display;
    animation-duration: 0.72s;
    animation-delay: 0s;
    opacity: 1;
    animation-timing-function: ease-out;
  }
  .centernav{
    padding: 0.6% 0;
    list-style-type: none;
    background: linear-gradient(0deg, rgba(32,35,40,1) 0%, rgba(32,35,40,0) 100%);
    backdrop-filter: blur(4px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    
    
  }
  .centernav li{
    margin-left: 4rem;
    font-size: 1.05rem;
    border-right: 0.1rem solid rgba(255, 255, 255, 0.15);
    padding-right: 4rem;
    
  }
  .centernav a{
    font-weight: 300;
    color: var(--white-main);
  }
  .centernav li:nth-last-child(1){
    border-right: 0;

  }
  #navigation{
    padding: 1.05% 0 11.5%;

    
  }
  .menu-left a {
    display: inline-block;
    position: relative;
    
    transition: color .35s ease;
  }
  .menu-left a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
  }
  .menu-left a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: var(--white-main);
    transition: width .35s ease;
  }
  .menu-left a:hover:before {
    width: 100%;
    background: var(--white-main);
    transition: width .35s ease;
  }
  .menu-left a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 1rem 0 0; */
    /* background: var(--bshadow); */
    z-index: 3;
    will-change: transform;
    transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transform: translateY(0);
    -webkit-transform: translateY(0);
    
    background-color: rgba(20,23,28,1);
    /* border-bottom: 0.12rem solid; */
    border-image: linear-gradient(90deg, rgba(240,240,240,0.3) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(240,240,240,0.3) 100%);
    border-image-slice: 1;
    /* margin-bottom: 0.15rem; */
    animation-name: header;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    box-shadow: 0 0.16rem 0.26rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  header nav .logo {
    float: left;
    /* display: inline-block; */
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-left: 4%;
    /* margin-right: 1rem; */
    font-size: 1.25rem;
    line-height: inherit;
    font-weight: 500;
    width: 10rem;
    height: 1.4rem;
    /* color: var(--dark); */
    background-image: url("../img/comlogo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  header nav .logo:after {
    content: '';
    display: table;
    clear: both;
  }
  header nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  header nav ul li {
    float: none;
    margin-left: 0;
    
  }
  header nav ul li:nth-last-child(1) a{
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.68rem;
    height: 1.68rem;
    
  }
  header nav ul li:nth-last-child(1){
    padding-left: 1rem;
    height: 2rem;
    /* line-height: 2rem; */
    margin-top: .20rem;    
    
  }
  header nav ul li:nth-last-child(2) a{
    background-image: url("../img/bell.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.3rem;
    height: 1.3rem;
    
    
    /* line-height: 24px; */
  }
  header nav ul li:nth-last-child(2){
    padding-left: 2rem;
    margin-top: .28rem;
      height: 2rem;
      /* line-height: 2rem; */
  }
  @media (min-width: 768px) {
    header nav ul li {
      float: left;
      margin-left: 1rem;
      height: 2rem;
      line-height: 2rem;
    }
  }
  header nav ul li a {
    display: block;
  }
  @media (min-width: 576px) {
    header nav ul li a {
      display: block;
      padding: 0.15rem 0;
    }
  }
  
  @media (max-width: 768px) {
    ul {
      clear: both;
    }
    ul li {
      padding: .5em 0;
    }
  }
  .hide-nav {
    transform: translateY(-84%) !important;
    -webkit-transform: translateY(-84%) !important;
    position: fixed;
  }
  .show-nav{
    transform: translateY(0) !important;
    -webkit-transform: translateY(0) !important;
  }
  
  ul.menu-left {
    position: relative;
    margin-right: 4%;
    display: block;
    /* max-height: 0; */
    overflow: hidden;
    display: block;
    float: right;
    max-height: none;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    z-index: 10;
    height: 2rem;
  }
  /* @media (min-width: 768px) {
    ul.menu-left {
      /* display: block;
      float: right;
      max-height: none; */
    }
  } */
  /* ul.menu-left:before {
    content: '';
    display: table;
    clear: both;
  } */
  ul.menu-left.collapse {
    max-height: 15em !important;
  }
  
  .nav-toggle {
    display: block;
    border-radius: 5px;
    background-color: transparent;
    float: right;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 8px 8px;
  }
  .nav-toggle.open span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
  }
  .nav-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .nav-toggle.open span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
  }
  @media (min-width: 768px) {
    .nav-toggle {
      display: none;
    }
  }
  .nav-toggle span {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-color: var(--dark);
    transition: all .25s;
  }
  
  .signature {
    position: fixed;
    font-weight: 100;
    bottom: 10px;
    color: var(--dark);
    left: 0;
    letter-spacing: 4px;
    font-size: 10px;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }
  .logospan{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  


  @keyframes header{
    0%{
      top: -20%;
    }
    100%{
      top: 0%;
    }
  }
  @-webkit-keyframes header{
    0%{
      top: -20%;
    }
    100%{
      top: 0%;
    }
  }
  @keyframes display{
    0%{
      
      transform: translateY(100%);
    }
    20%{
      opacity: 0;
    }
    70%{
      transform: translateY(100%);
    }
    100%{
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes display{
    0%{
      
      transform: translateY(100%);
    }
    20%{
      opacity: 0;
    }
    70%{
      transform: translateY(100%);
    }
    100%{
      opacity: 1;
      transform: translateY(0%);
    }
  }

input[type=radio] {
  display: none;
}

#ca_bt:nth-child(4) {
  position: absolute;
  bottom: 18%;
  left: 49.5%;
  font-size: 3rem;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.06s ease-out;
}

#ca_bt:nth-child(6) {
  position: absolute;
  bottom: 18%;
  left: 50.5%;
  font-size: 3rem;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.06s ease-out;
}

#ca_bt:hover {

  cursor: pointer;
}

#cate_bt:checked+#ca_bt:nth-child(4) {
  color: var(--bluew);
}

#cate_bt1:checked+#ca_bt:nth-child(6) {
  color: var(--bluew);
}

.top_content {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  /* left: 10%; */
}

.toptitle,
.toptitle1,
.participation {
  text-align: center;
  color: #fff;
}

.toptitle {
  position: relative;
  margin: 2.4% 0 0.6%;
  font-size: 1.6rem;
  font-weight: 600;
}
.toptitle::after{
  content: "메타버스 너만 오면 GO?";
  transition: all 0.2s ease-out;
}

.toptitle1 {
  font-size: 1.2rem;
  margin-bottom: 1%;
}
.toptitle1::after{
  content: "게임기업 인수 및 가상현실에 대규모 투자하는 나스닥 공룡들 누가 웃을까?";
  transition: all 0.2s ease-out;
}

.participation {
  position: relative;
  left: 50%;
  font-size: 0.86rem;
  width: fit-content;
  transform: translateX(-50%);
  margin-bottom: 1%;
}
.clear{
  clear: both;
}
.participation span::before{
  content: "917";
  color: #2790F1;
  text-decoration: underline;
  transition: all 0.2s ease-out;
}

.participation::before {
  content: "";
  position: absolute;
  left: -1.8rem;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("../img/parti.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.left_logo {}

.right_logo {}

.leftlogoblock {
  position: absolute;
  bottom: 31%;
  left: 37%;
  width: 10%;
  height: 25%;
  background-image: url("../img_/metablock.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(-10px 60px 3px rgba(0, 0, 0, 0.1));
  transition: all 0.2s ease-out;
}

.rightlogoblock {
  position: absolute;
  bottom: 31%;
  right: 37%;
  width: 10%;
  height: 25%;
  background-image: url("../img_/masoblock.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(10px 60px 3px rgba(0, 0, 0, 0.1));
  transition: all 0.2s ease-out;
}

.leftlogoblock:hover {
  width: 12%;
  height: 32%;
  left: 34%;
  filter: drop-shadow(-30px 180px 10px rgba(0, 0, 0, 0.05));
}

.rightlogoblock:hover {
  width: 12%;
  height: 32%;
  right: 34%;
  filter: drop-shadow(30px 180px 10px rgba(0, 0, 0, 0.05));
}

.leftlogoblock::before {
  position: absolute;
  content: "47.8%";
  left: -180%;
  top: 25%;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: none;
}

.leftlogoblock::after {
  position: absolute;
  content: "페이스북, 인스타와 오큘러스 AR기기의 시너지 우세!";
  left: -180%;
  top: 55%;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: none;
}

.leftlogoblock:hover::before {
  opacity: 1;

}

.leftlogoblock:hover::after {
  opacity: 1;

}

.rightlogoblock::before {
  position: absolute;
  content: "52.2%";
  right: -180%;
  top: 25%;
  opacity: 0;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s ease-out;
}

.rightlogoblock::after {
  position: absolute;
  content: "Xbox와 블리자드를 품은 MS 우세!";
  right: -180%;
  top: 55%;
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.2s ease-out;
}
.rightlogoblock:hover::before {
  opacity: 1;

}

.rightlogoblock:hover::after {
  opacity: 1;

}
#nav_bg{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #226EB450 0%, #22252A 50%, #66500360 100%);
  transition: all 0.2s ease-out;
}
.leftlogoblock:hover ~ #nav_bg{
  background: linear-gradient(to right, #226EB450 0%, #226EB400 90%);

}
.rightlogoblock:hover ~ #nav_bg{
  background: linear-gradient(to right, #66500301 0%, #66500360 100%);

}
#cate_bt1:checked ~ .toptitle::after{
  content: "자강두천 디지털 생테계?";
}
#cate_bt1:checked ~ .toptitle1::after{
  content: "디지털 맞수의 패권경쟁…술렁이는 디지털 생태계";
}
#cate_bt1:checked ~ .participation span::before{
  content: "1392";
}
#cate_bt1:checked ~ .leftlogoblock{
  background-image: url("../img_/applblock.png");
}
#cate_bt1:checked ~ .rightlogoblock{
  background-image: url("../img_/googleblock.png");
}
#cate_bt1:checked ~ .leftlogoblock:hover::before{
  content: "62.3%";
}
#cate_bt1:checked ~ .leftlogoblock:hover::after{
  content: "인앱 결제 수수료를 통한 수익 압도적 1위의 애플 우세!";
}
#cate_bt1:checked ~ .rightlogoblock:hover::before{
  content: "37.7%";
}
#cate_bt1:checked ~ .rightlogoblock:hover::after{
  content: "폰, 넷북 운영체제 점유율 1위의 구글 우세! ";
}
header{
  position: relative;
  /* transition: all 0.45s ease-out; */
  scroll-snap-type: y mandatory;
}
.framecontainer{
  position: relative;
  top: 0;
  margin: 0 10%;
  padding: 5% 0 0 0;
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  /* display:flex;
  justify-content: center; */
  /* align-items: center; */
  /* background: #F0F0F0; */
  transition: all 0.2s ease-out;
  scroll-snap-type: y mandatory;
  background: var(--bgdark);
}
.left_menu{
  position: relative;
  list-style: none;
}
.left_menu li{
  margin-bottom: 12%;
  font-size: 1rem;
}
.margin1{
  transform: translateY(15%);
}
.left_menu_bottom{
  list-style: none;
  margin-top: 26%;
  font-size: 0.7rem;
}
.left_menu_bottom li{
  float: left;
  margin-right: 7%;
}

a {
  text-decoration:none;
}

.calendar-wrapper {
  width:18rem;
  height: fit-content;
  padding-bottom: 1.8rem;
  margin-bottom: 1.3rem;
  border-bottom: 0.1rem solid #ffffff60;
}
table {
  clear:both;
  width:100%;
  border:1px solid @calendar-border;
  border-radius:3px;
  border-collapse:collapse;
  color:@calendar-color;
}
td {
  height:2.4rem;
  vertical-align:middle;
  /* border-right:1px solid @calendar-border;
  border-top:1px solid @calendar-border; */
  width:100% / 7;
  font-size:0.86rem;
  color: #ffffff99;
}

td.today {
  font-weight:500;
  color:#2790F1;
  font-size:1em;
  border: 1px solid #2790F1;
}
.days{
  border-bottom: 0.05rem solid #fff;
}

#btnPrev {
  right: 3rem;
  float:right;
  /* &:before {
    content:'\f104';
    font-family:FontAwesome;
    padding-right:4px;
  } */
}
#btnNext {
  right: 0;
  float:right;
  /* &:after {
    content:'\f105';
    font-family:FontAwesome;
    padding-left:4px;
  } */
}
#btnPrev, #btnNext {
  line-height: 2.4rem;
  position: absolute;
  background:transparent;
  border:none;
  outline:none;
  font-size:0.8rem;
  color:#fff;
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
  /* &:hover {
    color:@calendar-standout;
    font-weight:bold;
  } */
}

tr td{
  text-align: center;
}
tr td:first-child{
  color: #fa2d2d;
}

tr:nth-child(1) td:first-child{
  color: #fff;
  text-align: left;
  font-size: 1rem;
}
.days:nth-child(1) td:first-child{
  text-align: center;
  color: #ffffff;
}
.days:nth-child(1) td:nth-child(2){
  color: #ffffff;
}
.days:nth-child(1) td:nth-child(3){
  color: #ffffff;
}
.days:nth-child(1) td:nth-child(4){
  color: #ffffff;
}
.days:nth-child(1) td:nth-child(5){
  color: #ffffff;
}
.days:nth-child(1) td:nth-child(6){
  color: #ffffff;
}
.days:nth-child(1) td:nth-child(7){
  color: #ffffff;
}
#date{
  font-size: 1.9rem;
  font-weight: 500;
}
#day{
  margin-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 200;
}
#sche{
  margin: 6% 0 12% 0;
  padding: 3% 0 3% 4%;
  border-left: 0.1rem solid;
  border-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}
.sche{
  font-size: 0.86rem;
}
.sche:last-child{
  margin-top: 2%;
  font-size: 0.86rem;
  color: #ffffff60;
}
.follower{
  font-size: 0.86rem;
  line-height: 2rem;
  padding: 0 5% 1.3rem;
  margin-bottom: 1.8rem;
  border-bottom: 0.1rem solid #ffffff60;
}
.follower::after{
  position: absolute;
  content: "";
  right: 1rem;
  width: 5rem;
  height: 2rem;
  background-image: url("../img_/follower.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.subscribe{
  font-size: 0.86rem;
  padding: 0 5% 3.6rem;
  margin-bottom: 1.8rem;
  border-bottom: 0.1rem solid #ffffff60;
}
.count{
  margin-bottom: 1.5rem;
}
.listbox{
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  
}
.listbox .list{
  flex: 1 1 30%;
  position: relative;

}
.listbox .list::after{
  position: absolute;
  top: 3.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  text-align: center;
}
.listbox .list:nth-child(1){
  width: 3rem;
  height: 3rem;
  background-image: url("../img_/list.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.listbox .list:nth-child(1)::after{
  content: "당충전";
}
.listbox .list:nth-child(2){
  width: 3rem;
  height: 3rem;
  background-image: url("../img_/list1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.listbox .list:nth-child(2)::after{
  content: "Ackerman";
}
.listbox .list:nth-child(3){
  width: 3rem;
  height: 3rem;
  background-image: url("../img_/list2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.listbox .list:nth-child(3)::after{
  content: "멘동샤";
}
.listbox .list:nth-child(4){
  width: 3rem;
  height: 3rem;
  background-image: url("../img_/list3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.listbox .list:nth-child(4)::after{
  content: "잼많은땅콩";
}
.listbox .list:nth-child(5){
  width: 3rem;
  height: 3rem;
  background-image: url("../img_/list4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.listbox .list:nth-child(5)::after{
  content: "오이12";
}
.listbox .list:nth-child(6){
  width: 3rem;
  height: 3rem;
  background-image: url("../img_/list5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.listbox .list:nth-child(6)::after{
  content: "joniwoni";
}
.recentupload{
  font-size: 0.86rem;
  padding: 0 5% 1.8rem;
  margin-bottom: 1.8rem;
  border-bottom: 0.1rem solid #ffffff60;
}
.mar{
  margin-bottom: 1.5rem;
}
.recent_listbox{
  position: relative;
}
.recent_listbox .list{
  width: 3rem;
  height: 3rem;
  background-image: url("../img_/relist.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0.9rem;
}
.recent_listbox .list:last-child{
  margin-bottom: 0;
}
.recent_listbox .list::before{
  position: absolute;
  content: "오리온";
  left: 4.4rem;
  line-height: 1.6rem;
}
.recent_listbox .list:nth-child(2):before{
  content: "앙꼬삐약";
}
.recent_listbox .list:nth-child(3):before{
  content: "세글자임";
}
.recent_listbox .list:nth-child(4):before{
  content: "Zno";
}
.recent_listbox .list:nth-child(5):before{
  content: "오기뚜밥";
}
.recent_listbox .list::after{
  position: relative;
  content: "미장 차트를  기술적 관점에...";
  top: 1.8rem;
  left: 4.4rem;
  font-size: 0.8rem;
  color: #ffffff60;
  white-space: nowrap;
}
.recent_listbox .list:nth-child(2):after{
  content: "국내 주식시장이 하락세로...";
}
.recent_listbox .list:nth-child(2):after{
  content: "테슬라의 경영진 급여 수준...";
}
.recent_listbox .list:nth-child(2):after{
  content: "투자자분들 적립식으로 차...";
}
.recent_listbox .list:nth-child(2):after{
  content: "전체, 세부 공정 파트너쉽...";
}
.recent_listbox .list:nth-child(2){
  background-image: url("../img_/relist1.png");
}
.recent_listbox .list:nth-child(3){
  background-image: url("../img_/relist2.png");
}
.recent_listbox .list:nth-child(4){
  background-image: url("../img_/relist3.png");
}
.recent_listbox .list:nth-child(5){
  background-image: url("../img_/relist4.png");
}
.recentupload1{
  font-size: 0.86rem;
  padding: 0 5% 1rem;
  margin-bottom: 1.3rem;
  border-bottom: 0.1rem solid #ffffff60;
}
.recent_listbox1{
  position: relative;
}
.recent_listbox1 .list{
  width: 95%;
  height: 15rem;
  background-image: url("../img_/uplist.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0.9rem;
  border-bottom: 0.1rem solid #ffffff30;
}
.recent_listbox1 .list:last-child{
  background-image: url("../img_/uplist1.png");
  border-bottom: 0;
  margin-bottom: 0;
}
.recent_listbox1 .list:nth-child(1)::before{
  position: absolute;
  content: "Photo";
}
.recent_listbox1 .list:nth-child(1)::after{
  position: absolute;
  content: "5";
  right: 1rem;
}
.recent_listbox1 .list:nth-child(2)::before{
  position: absolute;
  content: "Video";
}
.recent_listbox1 .list:nth-child(2)::after{
  position: absolute;
  content: "3";
  right: 1rem;
}
.centerbox{
  position: relative;
}
.searchbar {
  /* text-align: center; */
  overflow: hidden;
  position: relative;
  top: -0.8%;
}


.inner {
  position: relative;
  width: 40vw;
  height: 2.6rem;
  margin: 0 0 0 0;
  border: 0.1rem solid #ebebeb;
  border-radius: 10rem;
  background-color: #202328;
  /* transition: all 0.05s ease-out; */
  z-index: 10;
}

input {
  position: absolute;
  width: 88.5%;
  left: 3rem;
  height: 2.6rem;
  background-color:#202328;
  border: 0;
  font-size: 1rem;
  color: #2790F1;
  z-index: 10;
  overflow: hidden;
}
input:focus{
  outline: none;
}
.inner ul{
  position: relative;
  left: 3rem;
  top: -100%;
  z-index: 9;
  width: 86.5%;
  transition: all 0.1s ease-out;
  opacity: 0;

}
.category li{
  list-style-type: none;
}
.searching {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-46%);
  color: #ebebeb;
  background-color: #202328;
}

i:hover {
  cursor: pointer;
}

.icon_ect {
  position: absolute;
  right: 1.1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff90;
}

.fa-keyboard {
  margin-right: 10px;
  color: #ffffff99;
}
.category li{
  margin-bottom: 1.5%;
  width: 98%;
  padding: 0 0 0.3rem 0;
  /* border-bottom: 0.1rem solid #ffffff60; */
  line-height: 2rem;
}
.category li::before{
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;
  content: "";
  background-image: url("../img_/tesla.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.category li:last-child::before{
  background-image: url("../img_/maso.png");
}
.searchbar:hover .category{
  top: 140%;
  opacity: 1;
}
.searchbar:hover input{
  border-bottom: 0.1rem solid #ffffff60;
}
.searchbar:hover .inner{
  border-radius: 0.5rem;
  padding-bottom: 7.5rem;
  margin: 0 0 0 0;
}
.searchbar:hover .icon_ect{
  top: 0;
  transform: translateY(59%);
}
.searchbar:hover .searching{
  top: 0;
  transform: translateY(37%);
}
.inner:hover{
  border: 0.1rem solid #2790F1;
}
.recent_comm {
  width: 100%;
  position: absolute;
  top: 4.5%;
  font-size: 1rem;


}
.recent_comm1 {
  width: 100%;
  position: absolute;
  top: 19%;
  font-size: 1rem;
}
.recent_comm2 {
  width: 100%;
  position: absolute;
  top: 33%;
  font-size: 1rem;
}
.recent_comm ul{
  margin-top: 3%;
  padding-left: 0;
  white-space: nowrap;
  overflow-x: scroll;
  height: 11rem;
}
.recent_comm1 ul{
  margin-top: 3%;
  padding-left: 0;
  white-space: nowrap;
  overflow-x: scroll;
  height: 9rem;
}
.recent_comm2 ul{
  margin-top: 3%;
  padding-left: 0;
  white-space: nowrap;
  overflow-x: scroll;
  height: 11rem;
}
.recent_comm ul li{
  display: inline-block;
  list-style-type: none;
  margin-right: 2%;
}
.recent_comm1 ul li{
  display: inline-block;
  list-style-type: none;
  margin-right: 2%;
}
.recent_comm2 ul li{
  display: inline-block;
  list-style-type: none;
  margin-right: 2%;
}
.recent_comm ul li{
  width: 6.5rem;
  height: 6.5rem;
  background-image: url("../img_/nvidia.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.recent_comm ul li::before{
  position: relative;
  top: 110%;
  content: "엔비디아";
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
  text-align:left
}
.recent_comm ul li::after{
  position: relative;
  top: 115%;
  content: "$198.91 ▼";
  color: #F53D26;
  font-size: 0.9rem;
  display: block;
  text-align:left
}
.recent_comm ul li:nth-child(2):before{
  content: "애플";
}
.recent_comm ul li:nth-child(2):after{
  content: "$164.22 ▲";
  color: #5CFFC4;
}
.recent_comm ul li:nth-child(3):before{
  content: "마이크로소프트";
}
.recent_comm ul li:nth-child(3):after{
  content: "$286.40 ▲";
}
.recent_comm ul li:nth-child(4):before{
  content: "펩시";
}
.recent_comm ul li:nth-child(4):after{
  content: "$170.41 ▲";
  color: #5CFFC4;
}
.recent_comm ul li:nth-child(5):before{
  content: "현대차";
}
.recent_comm ul li:nth-child(5):after{
  content: "$18,800 ▲";
  color: #5CFFC4;
}
.recent_comm ul li:nth-child(6):before{
  content: "포스코인터내셔널";
}
.recent_comm ul li:nth-child(6):after{
  content: "₩24,300 ▼";
}
.recent_comm ul li:nth-child(7):before{
  content: "맥도날드";
}
.recent_comm ul li:nth-child(7):after{
  content: "$250.78 ▲";
  color: #5CFFC4;
}
.recent_comm ul li:nth-child(8):before{
  content: "넷플릭스";
}
.recent_comm ul li:nth-child(8):after{
  content: "$180.97 ▼";
}
.recent_comm ul li:nth-child(9):before{
  content: "스타벅스";
}
.recent_comm ul li:nth-child(9):after{
  content: "$76.52 ▼";
}
.recent_comm ul li:nth-child(10):before{
  content: "애플";
}
.recent_comm ul li:nth-child(10):after{
  content: "$164.22 ▲";
  color: #5CFFC4;
}
.recent_comm ul li:nth-child(2){
  background-image: url("../img_/aapl.png");
}
.recent_comm ul li:nth-child(3){
  background-image: url("../img_/maicro.png");
}
.recent_comm ul li:nth-child(4){
  background-image: url("../img_/pepsi.png");
}
.recent_comm ul li:nth-child(5){
  background-image: url("../img_/hyundai.png");
}
.recent_comm ul li:nth-child(6){
  background-image: url("../img_/posco.png");
}
.recent_comm ul li:nth-child(7){
  background-image: url("../img_/mac.png");
}
.recent_comm ul li:nth-child(8){
  background-image: url("../img_/netflix.png");
}
.recent_comm ul li:nth-child(9){
  background-image: url("../img_/starbucks.png");
}
.recent_comm1 ul li{
  width: 5.2rem;
  height: 5.2rem;
  background-image: url("../img_/adobe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.recent_comm1 ul li:nth-child(2){
  background-image: url("../img_/nike.png");
}
.recent_comm1 ul li:nth-child(3){
  background-image: url("../img_/gogl.png");
}
.recent_comm1 ul li:nth-child(4){
  background-image: url("../img_/kia.png");
}
.recent_comm1 ul li:nth-child(5){
  background-image: url("../img_/meta.png");
}
.recent_comm1 ul li:nth-child(6){
  background-image: url("../img_/naver.png");
}
.recent_comm1 ul li:nth-child(7){
  background-image: url("../img_/tesla.png");
}
.recent_comm1 ul li:nth-child(8){
  background-image: url("../img_/intel.png");
}
.recent_comm1 ul li:nth-child(9){
  background-image: url("../img_/woori.png");
}
.recent_comm1 ul li:nth-child(10){
  background-image: url("../img_/kt.png");
}
.recent_comm1 ul li:nth-child(11){
  background-image: url("../img_/tsmc.png");
}
.recent_comm1 ul li:nth-child(12){
  background-image: url("../img_/kakao.png");
}
.recent_comm1 ul li::after{
  text-align: center;
  position: relative;
  top: 110%;
  content: "어도비";
  display: block;
  font-weight: 500;
  font-size: 0.9rem;
}
.recent_comm1 ul li:nth-child(2):after{
  content: "나이키";

}
.recent_comm1 ul li:nth-child(3):after{
  content: "알파벳 a";

}
.recent_comm1 ul li:nth-child(4):after{
  content: "기아";

}
.recent_comm1 ul li:nth-child(5):after{
  content: "메타";

}
.recent_comm1 ul li:nth-child(6):after{
  content: "네이버";

}
.recent_comm1 ul li:nth-child(7):after{
  content: "테슬라";

}
.recent_comm1 ul li:nth-child(8):after{
  content: "인텔";

}
.recent_comm1 ul li:nth-child(9):after{
  content: "우리금융지주";

}
.recent_comm1 ul li:nth-child(10):after{
  content: "KT";

}
.recent_comm1 ul li:nth-child(11):after{
  content: "TSMC";

}
.recent_comm1 ul li:nth-child(12):after{
  content: "카카오";

}
.recent_comm2 ul li{
  width: 6rem;
  height: 6rem;
  background-image: url("../img_/tesla.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
