.content {
    position: relative;
    background-image: url("../img_/botban.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 57vh;
    /* box-shadow: 0 -1vh 0px rgba(0, 0, 0, 0.3); */
    z-index: 200;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    
    bottom: 0;
  }