:root{
  --white:#fff;
  --dark:#000;
  --blue: #4BA9FF;
  --bluew: #2790F1;
  --bgdark: #202328;
  --bshadow:rgba(255, 255, 255, 0.7);
}
body{
  font-family: 'Roboto', sans-serif;
  /* background:#202328; */
}
*{
    padding: 0;
    margin: 0;
    
  }

  

  .outer {
    height: 100vh;
    overflow: hidden;
    /* padding-bottom: 10% !important; */
    /* width: 100%; */
    /* will-change: transform; */
    /* inset: 0px auto auto 0px !important; */
  }
  
  .hero-hardware {
  background-repeat: no-repeat;
    background-image: url("../img_/display5.png");
    background-size: contain;
    background-position: center;
    position: relative;
    top: 16%;
    height: 60%;
    /* margin-top: 15%; */
    padding-top: 5%;
    position: relative;
    transform-origin: center 30%;
    /*   will-change: transform; */
    z-index: 5;
    transition: background-image 0.3s ease-out;
  }
  .hidden{
    background-repeat: no-repeat;
    background-image: url("../img_/display3.png");
    background-size: contain;
    background-position: center;
    position: relative;
    top: 16%;
    height: 60%;
    /* margin-top: 15%; */
    padding-top: 5%;
    position: relative;
    transform-origin: center 30%;
    /*   will-change: transform; */
    z-index: 5;
    transition: background-image 0.3s ease-out;
  }
  .hidden1{
    background-repeat: no-repeat;
    background-image: url("../img_/display4.png");
    background-size: contain;
    background-position: center;
    position: relative;
    top: 16%;
    height: 60%;
    /* margin-top: 15%; */
    padding-top: 5%;
    position: relative;
    transform-origin: center 30%;
    /*   will-change: transform; */
    z-index: 5;
    transition: background-image 0.3s ease-out;
  }
/*   
  img.placeholder {
    background-size: 882px 552px;
    height: 552px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: left;
    top: 30px;
    transform: perspective(0);
    width: 882px;
  }
   */
   .introduce_title{
    margin: -8vh 0% 18.5%;
   }
   .introduce_title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;

   }
  .introduce_meet{
    background-image: url("../img_/introduce_meet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 8%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
  }
  .introduce_box{
    /* border: 0.12rem solid var(--dark); */
    background-color: rgba(32, 35, 40, 0.95);
    border-radius: 1rem;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
    width: 30%;
    padding: 3% 5%;
    text-align: center;
    font-size: 1.1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    color: rgba(240, 240, 240, 0);
    transform: translateX(-50%) translateY(-50%);
  }
  .introduce_box p{
  }
  .introduce_box p:nth-child(1){
    margin-bottom: 3%;
  }
  .introduce_slide{
    
  }
  .introduce_slide h3{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 8rem;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-22vw * 8));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-22vw * 8));
    }
  }
  .boslider {
    /* background: white; */
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 17vw;
    /* margin: auto; */
    overflow: hidden;
    position: relative;
    margin-bottom: 15%;
  }
  .boslider::before, .boslider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 17vw;
    position: absolute;
    width: 20vw;
    z-index: 2;
  }
  .boslider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .boslider::before {
    left: 0;
    top: 0;
  }
  .boslider .boslide-track {
    -webkit-animation: scroll 72s linear infinite alternate;
            animation: scroll 72s linear infinite alternate;
    display: flex;
    width: calc(25vw * 15);
    align-items: center;
  }
  .boslider .boslide {

  }
  .boslide{
    background-image: url("../img_/introduce_slide/trezor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25vw;
    height: 17vw;
    margin-right: 3.6%;
  }
  .boslide:nth-child(2){
    background-image: url("../img_/introduce_slide/caary.png");
    width: 16vw;
  }
  .boslide:nth-child(3){
    background-image: url("../img_/introduce_slide/goodwater.png");
  }
  .boslide:nth-child(4){
    background-image: url("../img_/introduce_slide/bitmex.png");
  }
  .boslide:nth-child(5){
    background-image: url("../img_/introduce_slide/ledger.png");
    width: 22vw;
  }
  .boslide:nth-child(6){
    background-image: url("../img_/introduce_slide/base.png");
    width: 23vw;
  }
  .boslide:nth-child(7){
    background-image: url("../img_/introduce_slide/ribbit.png");
  }
  .boslide:nth-child(8){
    background-image: url("../img_/introduce_slide/auroom.png");
    width: 23vw;
  }
  .boslide:nth-child(9){
    background-image: url("../img_/introduce_slide/gic.png");
    width: 16vw;
  }
  .boslide:nth-child(10){
    background-image: url("../img_/introduce_slide/coinone.png");
  }
  .boslide:nth-child(12){
    background-image: url("../img_/introduce_slide/paypal.png");
  }
  .boslide:nth-child(13){
    background-image: url("../img_/introduce_slide/bithumb.png");
  }

  [data-trigger]{
    /* opacity: 0; */
    position: relative;
    top: 58%;
    transition: 0.4s ease-out;
    color: rgba(240, 240, 240, 0);
    background-color: rgba(32, 35, 40, 0);
  }
  [data-trigger].visible{
    /* opacity: 1; */
    top: 50%;
    position: relative;
    color: rgba(240, 240, 240, 1);
    background-color: rgba(32, 35, 40, 0.95);
  }
  [data-trigger3]{
    opacity: 0;
    position: relative;
    transform: translateY(50%);
    transition: 0.7s ease-out;
  }
  [data-trigger3].visible{
    opacity: 1;
    transform: translateY(0%);
    position: relative;
  }
  .introduce_fixed {
    height: 320vh;

  }
  
  
  
  .trigger1 {
    width: 100%;
    /* height: 10px; */
    margin-bottom: 10vh;
  }
  .introduce_blur{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    
  }
  .introduce_blur1{
    position: relative;
    width: 100%;
    height: 300vh;
    z-index: 1;
    
  }
  [data-trigger1]{
    transition: all 1s ease-out;
    backdrop-filter: blur(0px) brightness(100%);
    
  }
  [data-trigger1].visible{
    transition: all 1s ease-out;
    backdrop-filter: blur(2px) brightness(38%);
    
  }
  [data-trigger5]{
    transition: all 1s ease-out;
    backdrop-filter: blur(0px);
    
  }
  [data-trigger5].visible{
    transition: all 1s ease-out;
    backdrop-filter: blur(1px);
    
  }
  [data-trigger2]{
    opacity: 0;
    transition: opacity 0.6s ease-out;
    
  }
  [data-trigger2].visible{
    opacity: 1;
    transition: opacity 0.6s ease-out;
  }
  [data-trigger4]{
    opacity: 0;
    transition: opacity 1s ease-out;
    background:linear-gradient(
      to bottom,
      rgba(240, 240, 240, 1) 10%,
      rgba(240, 240, 240, 0) 26%,
      rgba(240, 240, 240, 0) 88%,
      rgba(240, 240, 240, 1) 100%
    ),
    url("../img_/introduce_long1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300vh;
    margin-bottom: 30%;
  }
  [data-trigger4].visible{
    opacity: 1;
    transition: opacity 1.6s ease-out;
    background:linear-gradient(
      to bottom,
      rgba(240, 240, 240, 1) 10%,
      rgba(240, 240, 240, 0) 26%,
      rgba(240, 240, 240, 0) 88%,
      rgba(240, 240, 240, 1) 100%
    ),
    url("../img_/introduce_long1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300vh;
    margin-bottom: 30%;
  }
  .introduce_long{
    
    
  }
  .introduce_long_text{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
  }
  .a{
    width: fit-content;
    height: 5%;
    left: 20%;
    top: 30%;
  }
  .b{
    width: fit-content;
    height: 5%;
    left: 55%;
    top: 48%;
  }
  .c{
    width: fit-content;
    height: 5%;
    left: 15%;
    top: 66%;
  }
  .d{
    width: fit-content;
    height: 5%;
    left: 30%;
    top: 84%;
  }
  [data-trigger6]{
    opacity: 0;
    transition: all 0.8s ease-out;
    
  }
  [data-trigger6].visible{
    opacity: 1;
    transform: translateY(-50%);
    transition: all 0.8s ease-out;
  }
  .introduce_con {
    height: 450vh;
  }
  .introduce_con p{
    font-size: 2rem;
    font-weight: 600;
  }
  .introduce_fixed p{
    font-size: 2rem;
    font-weight: 600;
  }
  .animate {
    position: sticky;
    top: 45vh;
    opacity: 0;
    font-size: 40px;
    width: 100%;
    height: 90px;
    text-align: center;
  }
  .trigger {
    width: 100%;
    height: 10px;
    margin-bottom: 900px;
  }


  .animate_6 {
    position: sticky;
    top: 43vh;
    opacity: 0;
    width: 22%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(0%) !important;
    height: fit-content;
  }
  .animate_5 {
    position: sticky;
    top: 48vh;
    opacity: 0;
    width: 100%;
    
    transform: translateY(-10%) !important;
    height: fit-content;
  }
  .ser_boxtop{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: 0% 8% 8%;
    
  }
  .ser_box{
    border: 2px solid rgba(255, 255, 255, 0.05);
    /* width: 48%; */
    height: 30vh;
    display: inline-block;
    border-radius: 0.5vw;
    background: var(--bgdark);
    margin-top: 6%;
    flex: 1 0 40%;
    position: relative;
    transition: all 0.08s ease-out;
    /* box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.35); */
  }
  .ser_boxinner{
    margin-top: 5%;
    margin-left: 6%;
    font-size: 0.84rem;
    color: rgb(240, 240, 240);
  }
  .ser_logoimg3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    
    /* margin: 20% 10% 10%; */
  }
  .serimg5{
    width: 5rem;
  }
  .serimg5_w{
    width: 10rem;
  }
  .serimg5_ww{
    width: 15rem;
  }
  .ser_box img{
    margin-top: 8%;
  }
  .ser_box:hover{
    background: #353a3f;
  }
  .ser_box:nth-child(even){
    margin-left: 12%;
    
  }
  .introduce_content{
    margin: 0% 10% 20%;
  }
  .introduce_content1{
    margin: 0% 10%;
  }
  .ti1_ser{
    font-weight: 400;
      font-size: 2.4rem;
      text-align: center;
  }
  .ti2_ser{
    margin: 1rem 0% 4rem;
      font-size: 0.9rem;
      font-weight: 300;
      text-align: center;
  }
