:root{
  --white:#fff;
  --dark:#000;
  --blue: #4BA9FF;
  --bluew: #2790F1;
  --bgdark: #202328;
  --bshadow:rgba(255, 255, 255, 0.7);
}
body{
  font-family: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
  }

  .outer {
    height: 100vh;
    overflow: hidden;

    /* width: 100%; */
    /* will-change: transform; */
    
  }
  
  .hero-hardware {
  background-repeat: no-repeat;
    background-image: url("../img_/display.png");
    background-size: contain;
    background-position: center;
    position: relative;
    height: 78%;
    margin-top: 10%;
    position: relative;

    transform: scale(2.6);
    transform-origin: center center;

    /*   will-change: transform; */
    z-index: 5;
  }
/*   
  img.placeholder {
    background-size: 882px 552px;
    height: 552px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: left;
    top: 30px;
    transform: perspective(0);
    width: 882px;
  }
   */
   .introduce_title{
    margin-top: 3%;
   }
   .introduce_title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3%;
   }

   [data-trigger]{
    opacity: 1;
    position: relative;
    top: 3rem;
    transition: 0.35s ease-out;
  }
  [data-trigger].visible{
    opacity: 1;
    top: 0;
    position: relative;
  }
  .introduce_box{
    border: 0.1rem solid var(--bgdark);
    background-color: rgba(32, 35, 40, 0.7);
    position: relative;
    border-radius: 1rem;
    width: 42rem;
    left: 50%;
    padding: 3% 4%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.14rem;
  }
  .introduce_box p{
    color: var(--white);
  }
  .introduce_slide{
    
  }
  .introduce_slide h3{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-22vw * 8));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-22vw * 8));
    }
  }
  .boslider {
    /* background: white; */
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 16vw;
    /* margin: auto; */
    overflow: hidden;
    position: relative;
    
  }
  .boslider::before, .boslider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 16vw;
    position: absolute;
    width: 22vw;
    z-index: 2;
  }
  .boslider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .boslider::before {
    left: 0;
    top: 0;
  }
  .boslider .boslide-track {
    -webkit-animation: scroll 72s linear infinite alternate;
            animation: scroll 72s linear infinite alternate;
    display: flex;
    width: calc(22vw * 13);
    align-items: center;
  }
  .boslider .boslide {

  }
  .boslide{
    background-image: url("../img_/introduce_slide/trezor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24vw;
    height: 16vw;
    margin-right: 2%;
  }
  .boslide:nth-child(2){
    background-image: url("../img_/introduce_slide/caary.png");
    width: 15vw;
    height: 10vw;
  }
  .boslide:nth-child(3){
    background-image: url("../img_/introduce_slide/auroom.png");
  }
  .boslide:nth-child(4){
    background-image: url("../img_/introduce_slide/base.png");
    width: 23vw;
    height: 10vw;
  }
  .boslide:nth-child(5){
    background-image: url("../img_/introduce_slide/bithumb.png");
  }
  .boslide:nth-child(6){
    background-image: url("../img_/introduce_slide/bitmex.png");
  }
  .boslide:nth-child(7){
    background-image: url("../img_/introduce_slide/ribbit.png");
  }
  .boslide:nth-child(8){
    background-image: url("../img_/introduce_slide/coinone.png");
  }
  .boslide:nth-child(9){
    background-image: url("../img_/introduce_slide/gic.png");
    width: 18vw;
    height: 9vw;
  }
  .boslide:nth-child(10){
    background-image: url("../img_/introduce_slide/goodwater.png");
    width: 23vw;
    height: 17vw;
  }
  .boslide:nth-child(12){
    background-image: url("../img_/introduce_slide/paypal.png");
  }
  .boslide:nth-child(13){
    background-image: url("../img_/introduce_slide/ledger.png");
  }