:root{
  --white:#fff;
  --dark:#000;
  --blue: #4BA9FF;
  --bluew: #2790F1;
  --bgdark: #202328;
  --bshadow:rgba(255, 255, 255, 0.7);
}
body{
  font-family: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
  }

  

  .outer {
    height: 100vh;
    overflow: hidden;

    /* width: 100%; */
    /* will-change: transform; */
    
  }
  
  .hero-hardware {
  background-repeat: no-repeat;
    background-image: url("../img_/display.png");
    background-size: contain;
    background-position: center;
    position: relative;
    height: 78%;
    margin-top: 10%;
    position: relative;

    transform: scale(2.6);
    transform-origin: center center;

    /*   will-change: transform; */
    z-index: 5;
  }
/*   
  img.placeholder {
    background-size: 882px 552px;
    height: 552px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: left;
    top: 30px;
    transform: perspective(0);
    width: 882px;
  }
   */
   .introduce_title{
    margin-top: 3%;
   }
   .introduce_title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3%;
   }
  .introduce_meet{
    background-image: url("../img_/introduce_meet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
  }
  .introduce_box{
    /* border: 0.12rem solid var(--dark); */
    background-color: rgba(32, 35, 40, 0.95);
    border-radius: 1rem;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
    width: 34%;
    padding: 4% 6%;
    text-align: center;
    font-size: 1.14rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .introduce_box p{
    color: var(--white);
  }
  .introduce_box p:nth-child(1){
    margin-bottom: 3%;
  }
  .introduce_slide{
    
  }
  .introduce_slide h3{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 8rem;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-22vw * 8));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-22vw * 8));
    }
  }
  .boslider {
    /* background: white; */
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 16vw;
    /* margin: auto; */
    overflow: hidden;
    position: relative;
    margin-bottom: 14%;
  }
  .boslider::before, .boslider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 16vw;
    position: absolute;
    width: 22vw;
    z-index: 2;
  }
  .boslider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .boslider::before {
    left: 0;
    top: 0;
  }
  .boslider .boslide-track {
    -webkit-animation: scroll 72s linear infinite alternate;
            animation: scroll 72s linear infinite alternate;
    display: flex;
    width: calc(22vw * 13);
    align-items: center;
  }
  .boslider .boslide {

  }
  .boslide{
    background-image: url("../img_/introduce_slide/trezor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24vw;
    height: 16vw;
    margin-right: 2%;
  }
  .boslide:nth-child(2){
    background-image: url("../img_/introduce_slide/caary.png");
    width: 15vw;
    height: 10vw;
  }
  .boslide:nth-child(3){
    background-image: url("../img_/introduce_slide/auroom.png");
  }
  .boslide:nth-child(4){
    background-image: url("../img_/introduce_slide/base.png");
    width: 23vw;
    height: 10vw;
  }
  .boslide:nth-child(5){
    background-image: url("../img_/introduce_slide/bithumb.png");
  }
  .boslide:nth-child(6){
    background-image: url("../img_/introduce_slide/bitmex.png");
  }
  .boslide:nth-child(7){
    background-image: url("../img_/introduce_slide/ribbit.png");
  }
  .boslide:nth-child(8){
    background-image: url("../img_/introduce_slide/coinone.png");
  }
  .boslide:nth-child(9){
    background-image: url("../img_/introduce_slide/gic.png");
    width: 18vw;
    height: 9vw;
  }
  .boslide:nth-child(10){
    background-image: url("../img_/introduce_slide/goodwater.png");
    width: 23vw;
    height: 17vw;
  }
  .boslide:nth-child(12){
    background-image: url("../img_/introduce_slide/paypal.png");
  }
  .boslide:nth-child(13){
    background-image: url("../img_/introduce_slide/ledger.png");
  }

  [data-trigger]{
    opacity: 0;
    position: relative;
    top: 54%;
    transition: 0.6s ease-out;
  }
  [data-trigger].visible{
    opacity: 1;
    top: 50%;
    position: relative;
  }
  .introduce_fixed {
    height: 180vh;
  }
  
  .animate {
    position: sticky;
    top: 45vh;
    opacity: 0;
    width: 20%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .trigger {
    width: 100%;
    /* height: 10px; */
    margin-bottom: 10vh;
  }
  .introduce_blur{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    
  }
  [data-trigger1]{
    transition: all 0.5s ease-out;
  }
  [data-trigger1].visible{
    backdrop-filter: blur(10px);
  }