* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background: var(--bgdark);
    color: var(--white);
}

.portfolio_frame {
    width: 300vw;
    margin-top: 14%;
    display: flex;
}

.portfolio_my {
    position: relative;
    width: 70%;
    
    
}

.portfolio_myleft {
    /* width: 100vw; */
    position: relative;
    width: 70%;
}

.portfolio_myright {
    /* width: 100vw; */
    position: relative;
    width: 70%;
}

.title_horizon{
    position: relative;
    margin-bottom: 3%;

}
.avg{
    font-size: 2rem;
    margin-bottom: 3%;
}
.title_horizon1{
    position: relative;
    margin:0 0 2% 5%;
}
.title_horizon li {
    float: left;
    margin-right: 3%;
    list-style: none;
    line-height: 2.2rem;
}
.title_horizon h3:first-child {
    font-size: 2.2rem;
    display: inline-block;
    margin-right: 5%;
}
.title_horizon h3:nth-child(2) {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 16%;
}
.title_horizon p{
    font-size: 0.9rem;
    display: inline;
    position: absolute;
    top: 50%;
    right: 5%;
    color: var(--blue);
}
.title_horizon1 li {
    float: left;
    margin-right: 3%;
    list-style: none;
    font-size: 0.8rem;
}
.title_horizon1::after{
  content: "";
  display: block;
  clear: both;
}
.vertical {
    position: relative;
}
.horizon {
    position: relative;
}

.vertical li {
    margin-bottom: 1.4%;
    list-style: none;
}

.horizon li {
    float: left;
    list-style: none;
    margin-right: 1.4%;
}
.horizon li:first-child {
    visibility: hidden;
}
.moneyNum{
  margin: 0 0 2% 4%;
}
li{
  list-style: none;
}


.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    bottom: 30%;
    z-index: 1;
}

a.slide_btn {
    color: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    margin: 0 0.1em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: var(--bluew);
    cursor: pointer;
}

.previous_btn {
    bottom: 0;
    left: 3vw;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: 2;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 3vw;
    top: 0;
    z-index: 2;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}

/* .slide:first-child .previous_btn {
    visibility: hidden;
}

.slide:last-child .next_btn {
    visibility: hidden;
} */

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }

    .next_btn {
        right: 50px;
    }
}

#slider-wrapper {
    /* width: 100%; */
    height: 100vh;
    position: relative;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  #s1 {
    width: 100%;
    height: 100%;
    background: #000000;
    bottom: 0;
    left:0;
    margin: auto;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 3;
  }
  
  #s2 {
    width: 100%;
    height: 100%;
    background: #000000;
    bottom: 0;
    left:0;
    margin: auto;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 3;
  }
  #s5 {
    width: 100%;
    height: 100%;
    background: #000000;
    bottom: 0;
    right:0;
    margin: auto;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 0;
  }
  
  #s3 {
    /* width: 100%;
    height: 100%;
    background: #000000;
    bottom: 0;
    right:0;
    margin: auto;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 3; */
  }

  #s4 {
    width: 100%;
    height: 100%;
    background: #000000;
    bottom: 0;
    right:0;
    margin: auto;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 3;
  }

  

  #Slide3:checked ~ .overflow-wrapper{
    transform: translateX(-30%);
  }
  #Slide1:checked ~ .overflow-wrapper{
    transform: translateX(0%);
  }
  #Slide2:checked ~ .overflow-wrapper{
    transform: translateX(-30%);
  }
  #Slide4:checked ~ .overflow-wrapper{
    transform: translateX(-60%);
  }
  #Slide5:checked ~ .overflow-wrapper{
    transform: translateX(-30%);
  }
  #Slide5:checked ~ .next_btn{
    visibility: hidden;
  }
  #Slide4:checked ~ .next_btn{
    visibility: hidden;
  }
  #Slide3:checked{
    visibility: hidden;
  }
  #Slide2:checked ~ .previous_btn{
    visibility: hidden;
  }
  #Slide1:checked ~ .previous_btn{
    visibility: hidden;
  }
  #Slide3:checked + #Slide5 +.next_btn{
    visibility: hidden;
  }
  #Slide5:checked + .next_btn{
    visibility: hidden;
  }
  #Slide2:checked + .previous_btn{
    visibility: hidden;
  }

  .overflow-wrapper {
    width: 260%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

