* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background: #16191d;
  color: var(--white);
}

.portfolio_frame {
  width: 300vw;
  margin-top: 14%;
  display: flex;
}

.portfolio_my {
  position: relative;
  width: 32%;
  height: 80vh;
  /* margin: 0 18%; */
  padding: 0.6% 0;
}

/* .portfolio_my::before {
  content: "";
  position: absolute;
  left: -10%;
  top: 0;
  width: 1%;
  height: 100%;
  border-left: 0.2rem solid;
  border-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

.portfolio_my::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10%;
  width: 1%;
  height: 100%;
  border-right: 0.2rem solid;
  border-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
} */

.portfolio_myleft {
  /* width: 100vw; */
  position: relative;
  width: 50%;
  height: 80vh;
}
.leftflex_box{
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content:flex-start;
  flex-wrap: wrap;
  column-gap: 1.5%;
}
.sect{
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  width: 32%;
  row-gap: 2%;
}
.sect1{
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  width: 32%;
  row-gap: 2%;
}
.sect2{
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  width: 26%;
  row-gap: 2%;
}
.left_box{
  position: relative;
  height: 41vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.left_box1{
  position: relative;
  height: 39vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.left_box2{
  position: relative;
  height: 44vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.left_box3{
  position: relative;
  height: 36vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.left_box4{
  position: relative;
  height: 34vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.left_box5{
  position: relative;
  height: 46vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.leftflex_box h3{
  position: relative;
  left: 5%;
  top: 5%;
  font-size: 1rem;
  font-weight: 600;

}
.leftflex_box h3::before{
  content: "My financial Type";
  position: absolute;
  left: 0;
  top: 120%;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.4;
}
.left_box1 h3::before{
  content: "Annual Profit";
}
.left_box2 h3::before{
  content: "Income and Outcome";
}
.left_box3 h3::before{
  content: "Portfolio Balance";
}
.left_box4 h3::before{
  content: "My Portfolio Type";
}
.left_box5 h3::before{
  content: "Current Rate of return";
}
[class^='left_box']::after {
  position: absolute;
  top: 5%;
  right: 4%;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../img/Help.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.returntext{
  position: relative;
  top: 38%;
  left: 0;
  text-align: center;
}
.returntext::after{
  content: "20.5%";
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translateX(-50%);
  font-size: 2.1rem;
  font-weight: 500;
}
.finantype{
  position: relative;
  left: 50%;
  top: 41%;
  width: 70%;
  height: 70%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img_/finantype.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.finantype1{
  position: absolute;
  bottom: 6%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  border: 1px solid #fff;
  padding: 1.5% 2.5%;
  border-radius: 0.4rem;
  white-space: nowrap;font-size: 0.9rem;
}
.finantype1 span{
  color: #2790F1;
  text-decoration: underline;
  font-size: 1.1rem;
}
.portfoltype{
  position: relative;
  left: 50%;
  top: 64%;
  width: 84%;
  height: 84%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img_/portfoltype.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.portfoltype1{
  position: absolute;
  bottom: 6%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  border: 1px solid #fff;
  padding: 1.5% 2.5%;
  border-radius: 0.4rem;
  white-space: nowrap;
  font-size: 0.9rem;
}
.portfoltype1 span{
  color: #2790F1;
  text-decoration: underline;
}
.porbalance{
  position: relative;
  left: 32%;
  top: 52%;
  width: 70%;
  height: 70%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img_/porbalance.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.portbalance1{
  position: absolute;
  top: 60%;
  right: 6%;
  border: 1px solid #fff;
  padding: 1.5% 2.5%;
  border-radius: 0.4rem;
  font-size: 0.9rem;
}
.portbalance1 span{
  color: #2790F1;
  text-decoration: underline;
  
}
.incomeoutcome{
  position: relative;
  left: 50%;
  top: 48%;
  width: 80%;
  height: 80%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img_/incomeoutcome.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.incomeoutcome1{
  position: absolute;
  bottom: 6%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  border: 1px solid #fff;
  padding: 1.5% 2.5%;
  border-radius: 0.4rem;
  white-space: nowrap;
  font-size: 0.9rem;
}
.incomeoutcome1 span{
  color: #2790F1;
  text-decoration: underline;
  
}
.annualprofit{
  position: relative;
  left: 50%;
  top: 48%;
  width: 90%;
  height: 90%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img_/annualprofit.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.annualprofit1{
  position: absolute;
  bottom: 6%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  border: 1px solid #fff;
  padding: 1.5% 2.5%;
  border-radius: 0.4rem;
  white-space: nowrap;
  font-size: 0.9rem;
}
#income_bt {
  /* background:var(--bluew); */
  position: relative;
  right: 0;
  cursor: pointer;
  padding: 1.2% 0.8% 1.2% 1.8%;
  margin: 0 1.4% 0 1%;
  border-bottom: 0.1rem solid;
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 49%, rgba(255, 255, 255, 0) 50%, rgba(240, 240, 240, 0) 51%);
  border-image-slice: 1;
  transition: all 0.2s ease-out;
  z-index: 11;
  font-size: 0.9rem;

}
#income_bt::after{
  content: "|";
  position: relative;
  font-size: 1.4rem;
  opacity: 0.3;
  left: 2.8%;
}
#income_bt:nth-child(8)::after{
  opacity: 0;
}
.in_bt{
  position: relative;
}
#outcome_bt1:checked+label {
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

#outcome_bt2:checked+label {
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

#outcome_bt3:checked+label {
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

#outcome_bt:checked+label {
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}
.icomebox{
  position: relative;
  top: 9%;
  left: 0;
}
/* .finantype::after{
  content: "현재 목표 수익률 대비 25% 달성";
  position: absolute;
  white-space: nowrap;
  border: 1px solid #fff;
  padding: 3% 4%;
  border-radius: 0.5rem;
  bottom: -25%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
} */
.portfolio_myright {
  /* width: 100vw; */
  position: relative;
  width: 50%;
  height: 80vh;
}
.rightflex_box{
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content:flex-end;
  flex-wrap: wrap;
  column-gap: 1.5%;
}

.right_box{
  position: relative;
  height: 41vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.right_box1{
  position: relative;
  height: 39vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.right_box2{
  position: relative;
  height: 44vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.right_box3{
  position: relative;
  height: 36vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.right_box4{
  position: relative;
  height: 34vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.right_box5{
  position: relative;
  height: 46vh;
  border: 0.16rem solid transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;
  background-image:linear-gradient(#202328,#202328), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(44, 50, 59, 0) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.rightflex_box h3{
  position: relative;
  left: 5%;
  top: 5%;
  font-size: 1rem;
  font-weight: 600;

}
.rightflex_box h3::before{
  content: "Total Seed";
  position: absolute;
  left: 0;
  top: 120%;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.4;
}
.right_box1 h3::before{
  content: "Total profit";
}
.right_box2 h3::before{
  content: "Trading volume, Profit - Information";
}
.right_box3 h3::before{
  content: "Profit Transition Information";
}
.right_box4 h3::before{
  content: "View Traffic";
}
.right_box5 h3::before{
  content: "Investment profit / loss";
}
[class^='right_box']::after {
  position: absolute;
  top: 5%;
  right: 4%;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../img/Help.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.title_horizon {
  position: relative;
  margin: 1% 0 3% 0;

}

.avg {
  font-size: 2rem;
  margin-bottom: 3%;
}

.graph {
  position: relative;
  height: 33vh;
}

.line-chart-block,
.bar-chart-block {
  height: 100%;
}

.line-chart {
  height: 100%;
  position: relative;
}

.grafico {
  padding: 1.4rem 1.4rem 1rem;
  /* width: 100%; */
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 85%;
}


[data-valor='25'] {
  width: 12rem;
  transform: rotate(-45deg);
}

[data-valor='8'] {
  width: 6rem;
  transform: rotate(65deg);
}

[data-valor='13'] {
  width: 5rem;
  transform: rotate(-45deg);
}

[data-valor='5'] {
  width: 19rem;
  transform: rotate(50deg);
}

[data-valor='23'] {
  width: 2rem;
  transform: rotate(-70deg);
}

[data-valor='12'] {
  width: 16rem;
  transform: rotate(15deg);
}

[data-valor='15'] {
  width: 2rem;
  transform: rotate(-45deg);
}

[data-valor='2'] {
  width: 5rem;
  transform: rotate(80deg);
}

[data-valor='21'] {
  width: 9rem;
  transform: rotate(-70deg);
}

[data-valor='1'] {
  width: 16rem;
  transform: rotate(75deg);
}

[data-valor='19'] {
  width: 7rem;
  transform: rotate(-45deg);
}

[data-valor]:before {
  content: '';
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}

[data-valor='23']:after {
  content: '+' attr(data-valor) '%';
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: .3rem .5rem;
  background: #50597B;
  border-radius: .5rem;
  transform: rotate(45deg);
}

[class^='eje-'] {
  position: relative;
  left: 0;
  bottom: 0rem;
  width: 98%;
  padding: 0 0 0 2rem;
  height: 100%;
}

.eje-y li {
  height: 14%;
  border-top: 0.12rem solid;
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0.2) 0%, rgba(255, 255, 255, 0.2) 70%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
}

.eje-x li {
  position: relative;
  top: 50%;
  left: 5%;
  width: 6.25%;
  float: left;
  text-align: center;
}

.graph_value {
  position: absolute;
  left: 0;
  top: 60%;
}

.quiz-chartTip {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
  position: absolute;
  z-index: 50;
  max-width: 250px;
}

.quiz-graph {
  position: relative;

  width: 60vw;
}

#app-cover {
  display: table;
  width: 600px;
  margin: 80px auto;
  counter-reset: button-counter;
}

.row {
  display: table-row;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}
#toggle1{
  /* display: none; */
  position: relative;
  left: 0;
  font-size: 0.9rem;
  
}
#toggle1 + label {
  position: relative;

  text-indent: -250%;
  user-select: none;
  z-index:13;
}
#toggle1 + label::before,
#toggle1 + label::after {
}
#toggle1 + label::before { /* 배경 */
  position: relative;
  top: -2px;
  left: 5.9rem;
  content: "";
  display: inline-block;
  width: 3.2rem;
  height: 1.6rem;
  line-height: 1.8rem;
  background-color: #3d3d3d;
  vertical-align: middle;
  border-radius: 1em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;/* 배경색 애니메이션*/
}
#toggle1 + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 6.2rem;
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
#toggle1:checked + label::before {
  background-color: var(--blue);
}
#toggle1:checked + label::after {
  left: 7.8rem;
}
#toggle2{
  /* display: none; */
  position: relative;
  left: 0;
  font-size: 0.9rem;
  
}
#toggle2 + label {
  position: relative;
  left: 1.8%;
  text-indent: -250%;
  user-select: none;
  z-index: 12;
}
#toggle2 + label::before,
#toggle2 + label::after {
}
#toggle2 + label::before { /* 배경 */
  position: relative;
  top: -2px;
  left: 5.9rem;
  content: "";
  display: inline-block;
  width: 3.2rem;
  height: 1.6rem;
  line-height: 1.8rem;
  background-color: #3d3d3d;
  vertical-align: middle;
  border-radius: 1em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;/* 배경색 애니메이션*/
}
#toggle2 + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 6.2rem;
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease; /* 스위치 이동 애니메이션 */
}
#toggle2:checked + label::before {
  background-color: var(--blue);
}
#toggle2:checked + label::after { /* 켠 상태 스위치 위치 */
  left: 7.8rem;
}
.title_mar1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title_horizon li {
  position: relative;
  margin-right: 3%;
  list-style: none;
  line-height: 2.2rem;
}

.title_mar {
  position: relative;
}

.title_horizon h3:first-child {
  position: relative;
  font-size: 2rem;
  display: inline-block;
  margin-right: 5%;
  font-weight: 500;
}

.title_horizon h3:nth-child(2) {
  position: relative;
  font-size: 1.3rem;
  display: inline-block;
  margin-right: 16%;
  font-weight: 500;
}

.title_horizon p {
  font-size: 0.9rem;
  display: inline;
  position: relative;
  right: -40%;
  /* top: 50%; */
  /* right: -40%; */
  color: rgba(255, 255, 255, 0.5);
  margin-right: 0.8%;
}

.title_horizon p:last-child {
  color: #2790F1;
  margin-right: 0;
  cursor: pointer;
}

.title_horizon p:nth-child(3)::after {
  content: "|";
  margin-left: 1%;
}

.title_horizon p:last-child:after {
  position: absolute;
  top: 10%;
  right: -22%;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-image: url("../img/barrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

li {
  list-style: none;
}



.title_horizon1 li:last-child {
  margin-right: 0;

}

#ca_bt{
  margin-left: 2%;
  font-size: 0.9rem;
}
#ca_bt:nth-child(2){
  margin-left: 8%;
}
#ca_bt::before {
  content: '';
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.6%;
  vertical-align:baseline;
  background: var(--white);
  border-radius: 50%
}

#ca_bt:nth-child(4)::before {
  background: #3592ED;
}

#ca_bt:nth-child(6)::before {
  background: #F53D26;
}

#ca_bt:nth-child(8)::before {
  background: #D09624;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.period_graph {
  position: relative;
}

.period_button {
  width: 20%;
  display: flex;
  justify-content: space-around;
  padding: 0.6% 0.4%;
  font-size: 1rem;

}

input[type=radio] {
  display: none;
}
input[type=checkbox] {
  display: none;
}

.line-chart #gr_bt {
  /* background:var(--bluew); */
  position: relative;
  left: 20%;
  cursor: pointer;
  padding: 0.6% 1% 0.6% 1%;
  margin: 0 0.4% 0 0.1%;
  border-radius: 0.4rem;
  border-bottom: 0.1rem solid;
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 49%, rgba(255, 255, 255, 0) 50%, rgba(240, 240, 240, 0) 51%);
  border-image-slice: 1;
  transition: all 0.2s ease-out;
  z-index: 11;

}
#gr_bt::after{
  content: "|";
  position: relative;
  font-size: 1.5rem;
  opacity: 0.3;
  left: 1.4%;
}
#gr_bt:nth-child(20)::after{
  opacity: 0;
}
.gr_bt{
  position: relative;
}
#Graph_bt{

}
#Graph_bt1:checked+label {
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

#Graph_bt2:checked+label {
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

#Graph_bt3:checked+label {
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

#Graph_bt:checked+label {
  border-image: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
}

.vertical {
  position: relative;
}

.horizon {
  position: relative;
}

.horizon::after {
  content: "";

  background-image: url("");
}

.vertical li {
  margin-bottom: 2.4%;
  list-style: none;
}

.vertical li:nth-child(1)::after {
  content: "6,500";
}

.vertical li:nth-child(2)::after {
  content: "6,000";
}

.vertical li:nth-child(3)::after {
  content: "5,500";
}

.vertical li:nth-child(4)::after {
  content: "5,000";
}

.vertical li:nth-child(5)::after {
  content: "4,500";
}

.vertical li:nth-child(6)::after {
  content: "4,000";
}

.vertical li:nth-child(7)::after {
  content: "3,500";
}

.vertical li:nth-child(8)::after {
  content: "3,000";
}

.vertical li:nth-child(9)::after {
  content: "2,500";
}

.horizon li {
  float: left;
  list-style: none;
  margin-right: 5.7%;
}

.eje-x li:first-child {}

.eje-x li:nth-child(1)::after {
  content: "2월";
}

.eje-x li:nth-child(2)::after {
  content: "3월";
}

.eje-x li:nth-child(3)::after {
  content: "4월";
}

.eje-x li:nth-child(4)::after {
  content: "5월";
}

.eje-x li:nth-child(5)::after {
  content: "6월";
}

.eje-x li:nth-child(6)::after {
  content: "7월";
}

.eje-x li:nth-child(7)::after {
  content: "8월";
}

.eje-x li:nth-child(8)::after {
  content: "9월";
}

.eje-x li:nth-child(9)::after {
  content: "10월";
}

.eje-x li:nth-child(10)::after {
  content: "11월";
}

.eje-x li:nth-child(11)::after {
  content: "12월";
}

.eje-x li:nth-child(12)::after {
  content: "1월";
}
.eje-x li:nth-child(13)::after {
  content: "2월";
}

.eje-x li:nth-child(14)::after {
  content: "3월";
}

.eje-x li:nth-child(15)::after {
  content: "4월";
}

.moneyNum {
  margin: 0 0 2% 0;
  font-size: 2rem;
}

.report_text {
  position: relative;
  top: 35%;
}
.horizon_x{
  position: relative;
  top:-4%;
  -webkit-mask-box-image:-webkit-linear-gradient(left,transparent, transparent 0%, white 50%, white 70%, transparent 100%);
}
.bh{
  position: absolute;
  top: -5%;
  left: 30%;
  width: 40vw;
  height: 30vh;
  background-image: url("data:image/svg+xml,%3Csvg width='825' height='434' viewBox='0 0 825 434' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.453348' filter='url(%23filter0_f_37148_56087-672175)'%3E%3Cpath d='M157.294 234.27C157.294 234.27 201.324 216.755 205.229 203.059C232.958 105.83 223.737 121.293 231.376 106.2C237.839 93.4298 247.586 186.183 272.049 214.898C297.067 244.264 348.694 92.596 379.541 106.2C406.269 117.987 410.651 215.354 431.835 214.898C459.005 214.312 467.071 122.343 476.865 122.343C482.284 122.343 492.64 187.146 510.275 203.059C512.091 204.698 527.506 185.969 529.159 186.916C534.561 190.011 587.526 194.766 593.073 193.373C622.367 186.016 604.429 122.343 614.862 122.343C620.21 122.343 613.874 170.243 646.819 180.459C679.102 190.469 751.217 162.477 704.923 193.373C687.248 205.17 431.835 254.718 431.835 254.718C431.835 254.718 421.642 330.308 407.14 328.977C365.828 325.185 340.649 258.449 327.248 262.251C295.334 271.305 312.678 317.572 280.764 311.757C273.645 310.46 270.438 263.6 263.333 262.251C211.483 252.406 105 274.09 105 274.09L157.294 234.27Z' fill='url(%23paint0_linear_37148_56087-079019)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_37148_56087-672175' x='0.644981' y='0.644981' width='823.71' height='432.704' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='52.1775' result='effect1_foregroundBlur_37148_56087'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_37148_56087-079019' x1='429.97' y1='1.42644' x2='279.028' y2='395.635' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2305FFC3' stop-opacity='0.389719'/%3E%3Cstop offset='0.363677' stop-color='%233DB1CB'/%3E%3Cstop offset='0.790756' stop-color='%236F80DA'/%3E%3Cstop offset='1' stop-color='%23183B74'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  filter: blur(8px);
  z-index: -1;
}

.avg_graph{
  position: absolute;
  top: 15%;
  left: 5%;
  width: 67vw;
  height: 30vh;
  background-image: url("data:image/svg+xml,%3Csvg width='1451' height='296' viewBox='0 0 1451 296' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_37149_56089-456752)'%3E%3Cpath d='M15 281L61.2424 276.236C62.0276 276.155 62.8052 276.012 63.5679 275.809L110.922 263.19L178.545 246.555C180.155 246.159 181.689 245.498 183.083 244.6L222.294 219.348C226.747 216.48 232.382 216.173 237.12 218.54L284.677 242.304C289.235 244.581 294.636 244.389 299.021 241.795L370.671 199.398C372.79 198.144 374.55 196.411 375.892 194.346C383.381 182.823 410.3 143.973 427.787 152.251C445.552 160.661 478.73 190.147 487.207 197.811C488.553 199.028 490.045 199.975 491.737 200.63C506.102 206.199 577.694 232.959 594.842 220.107C611.527 207.601 655.456 141.651 658.287 137.388C658.386 137.24 658.466 137.122 658.571 136.978C660.77 133.965 688.473 96.7725 720.358 90.8945C753.064 84.8654 777.277 101.283 814.125 104.897C842.047 107.634 857.058 109.529 882.608 101.628C911.771 92.6104 949.064 68.5796 961.416 60.3105C964.155 58.477 967.38 57.5462 970.673 57.6897L1059.58 61.5658C1063.97 61.7569 1068.21 60.019 1071.21 56.8101L1105.24 20.3122C1111.01 14.1216 1120.76 13.931 1126.77 19.8911L1219.36 111.7C1226.06 118.349 1237.17 117.223 1242.4 109.365L1280.57 52.0684C1284.48 46.1983 1291.95 43.8451 1298.52 46.4151L1333.07 59.9344C1336.27 61.1848 1339.79 61.3016 1343.07 60.2654L1436 30.8283' stroke='url(%23paint0_linear_37149_56089-009631)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_37149_56089-456752' x='0' y='0.541992' width='1451' height='295.458' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='6.5' result='effect1_foregroundBlur_37149_56089'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_37149_56089-009631' x1='1412.87' y1='20.8478' x2='1194.74' y2='753.126' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23979797' stop-opacity='0'/%3E%3Cstop offset='0.226758' stop-color='%23979797' stop-opacity='0'/%3E%3Cstop offset='0.308167' stop-color='%232790F1' stop-opacity='0.03'/%3E%3Cstop offset='0.385811' stop-color='%232790F1'/%3E%3Cstop offset='0.739906' stop-color='%232790F1'/%3E%3Cstop offset='0.83785' stop-color='%232790F1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%235082E3' stop-opacity='0.01'/%3E%3Cstop offset='1' stop-color='%232790F1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.avg_graph1{
  position: absolute;
  top: 22%;
  left: 5%;
  width: 67vw;
  height: 30vh;
  background-image: url("data:image/svg+xml,%3Csvg width='1425' height='282' viewBox='0 0 1425 282' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 267.728L51.3123 279.748C54.6377 280.558 58.1403 280.207 61.2386 278.752L121.118 250.642C123.113 249.706 125.289 249.221 127.492 249.221H175.963C179.561 249.221 183.039 247.927 185.763 245.577L234.417 203.59C238.165 200.355 243.269 199.178 248.055 200.445L285.773 210.428C289.698 211.467 293.877 210.87 297.355 208.774L343.877 180.732C348.187 178.133 353.514 177.87 358.06 180.031L400.508 200.208C406.74 203.17 414.187 201.5 418.557 196.16L455.974 150.435C459.202 146.489 464.214 144.454 469.28 145.031L552.302 154.489C554.778 154.771 557.285 154.432 559.598 153.502L642.164 120.289C642.186 120.28 642.185 120.28 642.208 120.271C642.916 119.983 680.409 104.761 713.33 98.6761C745.536 92.7232 797.921 103.73 799.515 104.068C799.565 104.079 799.578 104.081 799.628 104.091L869.443 118.272C875.41 119.484 881.517 116.969 884.9 111.907L935.469 36.242C938.775 31.295 944.693 28.7699 950.552 29.806L1045.45 46.5873C1050.46 47.4734 1055.58 45.7583 1059.05 42.0319L1092.23 6.35654C1098 0.146725 1107.78 -0.0443177 1113.79 5.93499L1206.34 97.9586C1213.05 104.627 1224.18 103.5 1229.41 95.6217L1267.57 38.1871C1271.48 32.3021 1278.96 29.943 1285.54 32.5234L1320.06 46.0663C1323.26 47.3228 1326.8 47.4402 1330.08 46.3988L1423 16.8867' stroke='url(%23paint0_linear_37170_58480-016335)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_37170_58480-016335' x1='1463.46' y1='94.3562' x2='1196.57' y2='836.194' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.0763949' stop-color='%23979797' stop-opacity='0'/%3E%3Cstop offset='0.0989583' stop-color='%23979797' stop-opacity='0'/%3E%3Cstop offset='0.291667' stop-color='%23979797' stop-opacity='0.07'/%3E%3Cstop offset='0.333333' stop-color='%23279CF1'/%3E%3Cstop offset='0.735917' stop-color='%234D80E4'/%3E%3Cstop offset='0.836487' stop-color='%232790F1' stop-opacity='0'/%3E%3Cstop offset='0.921136' stop-color='%235082E3' stop-opacity='0.01'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.avg_graph2{
  position: absolute;
  top: 22%;
  left: 5%;
  width: 54vw;
  height: 30vh;
  background-image: url("data:image/svg+xml,%3Csvg width='1107' height='261' viewBox='0 0 1107 261' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 225.645L53.4005 203.857C57.0446 202.342 61.1391 202.324 64.7965 203.807L112.014 222.955C116.21 224.656 120.949 224.372 124.91 222.181L166.197 199.35C169.651 197.44 173.719 196.968 177.518 198.037L222.066 210.57C227.23 212.022 232.776 210.607 236.612 206.859L277.723 166.685C282.735 161.787 290.471 161.012 296.355 164.819L323.84 182.602C333.414 188.796 346.266 182.497 347.523 171.163C352.448 126.731 365.516 39.2866 391.95 41.1012C415.375 42.7093 439.36 107.837 449.888 140.299C452.862 149.47 463.488 153.907 471.953 149.293L500.915 133.506C509.29 128.941 519.774 133.175 522.773 142.23C537.233 185.902 576.415 292.779 600.888 250.148C613.812 227.635 650.43 146.796 682.74 101.771C722.102 46.9184 766.255 23.0266 838.904 26.7287C901.492 29.9181 932.235 29.9467 999.377 22.4406C1041.29 17.7547 1106 1 1106 1' stroke='url(%23paint0_linear_37170_58479-552817)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_37170_58479-552817' x1='328.407' y1='311.89' x2='418.594' y2='-163.111' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.0364583' stop-color='%23C16364' stop-opacity='0.01'/%3E%3Cstop offset='0.0885417' stop-color='%23D62116' stop-opacity='0.14'/%3E%3Cstop offset='0.151042' stop-color='%23DD3220' stop-opacity='0.66'/%3E%3Cstop offset='0.244792' stop-color='%23FE4A34' stop-opacity='0.7'/%3E%3Cstop offset='0.506657' stop-color='%23DA5342'/%3E%3Cstop offset='0.649915' stop-color='%23FF351C'/%3E%3Cstop offset='0.711468' stop-color='%23979797' stop-opacity='0.49'/%3E%3Cstop offset='0.799473' stop-color='%23979797' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.avg_graph3{
  position: absolute;
  top: 22%;
  left: 5%;
  width: 67vw;
  height: 30vh;
  background-image: url("data:image/svg+xml,%3Csvg width='1329' height='272' viewBox='0 0 1329 272' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 271L49.8407 258.007C51.5832 257.544 53.2279 256.77 54.6958 255.723L113.279 213.931C115.822 212.117 118.867 211.142 121.991 211.142H156.357C162.826 211.142 168.562 207.004 170.958 200.995C179.666 179.161 201.856 132.925 220.148 174.351C231.996 201.184 255.692 251.629 270.772 257.306C298.274 267.66 328.936 191.357 369.866 182.938C384.672 179.892 417.628 207.623 470.166 191.357C493.364 184.175 520.459 163.029 534.387 151.215C539.891 146.546 547.925 146.082 553.751 150.344L585.669 173.696C593.736 179.597 605.426 176.197 609.92 167.269C619.76 147.722 638.457 117.533 665.577 102.964C681.821 94.2375 702.04 86.2617 723.741 85.7911C744.741 85.3358 762.453 89.0826 775.442 92.231C812.603 101.238 840.398 93.4482 843.985 92.3543C844.254 92.2721 844.508 92.1956 844.78 92.122C848.609 91.0872 878.834 82.9274 897.156 78.278C915.858 73.5322 924.994 68.8028 943.472 63.2517C966.656 56.2866 971.476 54.6653 1001.64 49.2987C1115.27 29.0786 1119.86 23.4325 1169.66 26.235C1234.06 29.8581 1328 1 1328 1' stroke='url(%23paint0_linear_37170_58478-064164)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_37170_58478-064164' x1='-101.325' y1='291.866' x2='56.4171' y2='-438.057' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC8B2C' stop-opacity='0.6'/%3E%3Cstop offset='0.0589778' stop-color='%23BC8B2C' stop-opacity='0'/%3E%3Cstop offset='0.129426' stop-color='%23BC8B2C' stop-opacity='0.36'/%3E%3Cstop offset='0.496894' stop-color='%23D49925'/%3E%3Cstop offset='0.51084' stop-color='%23979797' stop-opacity='0.08'/%3E%3Cstop offset='0.614583' stop-color='%23979797' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23979797' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.point{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 61%;
  width: 8%;
  height: 100%;
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 100%);
  /* mix-blend-mode: screen; */
  z-index: -1;
  transition: all 0.2s ease-out;
  opacity: 0;

  opacity: 1;
}
.point::after{
  content: "";
  position: absolute;
  top: 0;
  left: 48.5%;
  width: 100%;
  height: 106%;
  border-left: 0.2rem solid;
  border-image: linear-gradient(180deg, #5cffc300 5%, #5CFFC4 35%, #5cffc3 100%);
  border-image-slice: 1;
  transition: all 0.2s ease-out;
  opacity: 1;
  z-index: 2;
}
.point::before{
  content: "";
  position: absolute;
  top: -4%;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url("../img_/point.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  -webkit-mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);
  mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(1px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  z-index: 0;
  opacity: 0;
}
.avg_graph::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0.8%;
  width: 66vw;
  height: 30vh;
  background-image: url("data:image/svg+xml,%3Csvg width='1425' height='270' viewBox='0 0 1425 270' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 268L48.2424 263.236C49.0276 263.155 49.8052 263.012 50.5679 262.809L97.9218 250.19L165.545 233.555C167.155 233.159 168.689 232.498 170.083 231.6L209.294 206.348C213.747 203.48 219.382 203.173 224.12 205.54L271.677 229.304C276.235 231.581 281.636 231.389 286.021 228.795L357.671 186.398C359.79 185.144 361.55 183.411 362.892 181.346C370.381 169.823 397.3 130.973 414.787 139.251C432.552 147.661 465.73 177.147 474.207 184.811C475.553 186.028 477.045 186.975 478.737 187.63C493.102 193.199 564.694 219.959 581.842 207.107C598.527 194.601 642.456 128.651 645.287 124.388C645.386 124.24 645.466 124.122 645.571 123.978C647.77 120.965 675.473 83.7725 707.358 77.8945C740.064 71.8654 764.277 88.2834 801.125 91.8965C829.047 94.6345 844.058 96.5289 869.608 88.6285C898.771 79.6104 936.064 55.5796 948.416 47.3105C951.155 45.477 954.38 44.5462 957.673 44.6897L1046.58 48.5658C1050.97 48.7569 1055.21 47.019 1058.21 43.8101L1092.24 7.31217C1098.01 1.12158 1107.76 0.930963 1113.77 6.89114L1206.36 98.7003C1213.06 105.349 1224.17 104.223 1229.4 96.3646L1267.57 39.0684C1271.48 33.1983 1278.95 30.8451 1285.52 33.4151L1320.07 46.9344C1323.27 48.1848 1326.79 48.3016 1330.07 47.2654L1423 17.8283' stroke='url(%23paint0_linear_37149_56090-120884)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_37149_56090-120884' x1='1380.93' y1='1.80472' x2='1168.98' y2='727.723' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23979797' stop-opacity='0'/%3E%3Cstop offset='0.146289' stop-color='%23979797' stop-opacity='0'/%3E%3Cstop offset='0.254052' stop-color='%23979797' stop-opacity='0'/%3E%3Cstop offset='0.328822' stop-color='white' stop-opacity='0.13'/%3E%3Cstop offset='0.350277' stop-color='white'/%3E%3Cstop offset='0.777721' stop-color='white'/%3E%3Cstop offset='0.83785' stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%235082E3' stop-opacity='0.01'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0.01'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s ease-out;
  z-index: 0;
}
.point_bl{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.2s ease-out;
  z-index: 11;
  cursor: pointer;
}
/* .point_bl::after{
  content: "";
  position: absolute;
  top: 0;
  left: 63.2%;
  width: 1rem;
  height: 90%;
  border-left: 0.15rem solid;
  border-image: linear-gradient(180deg, #5cffc300 0%, #5CFFC4 35%, #5cffc300 85%);
  border-image-slice: 1;
  transition: all 0.2s ease-out;
  opacity: 1;
} */
#toggle1:checked ~ .avg_graph1{
  opacity: 1;
}
#toggle1:checked ~ .avg_graph2{
  opacity: 1;
}
#toggle1:checked ~ .avg_graph3{
  opacity: 1;
}
#toggle2:checked ~ .avg_graph{
  opacity: 1;
}
#toggle2:checked ~ .avg_graph1{
  opacity: 0.5;
}
#toggle2:checked ~ .avg_graph2{
  opacity: 0.5;
}
#toggle2:checked ~ .avg_graph3{
  opacity: 0.5;
}

.point:hover::before{
  opacity: 1;
}
.point:hover::after{
  border-left: 0.15rem solid;
  border-image: linear-gradient(180deg, #5cffc300 10%, #5CFFC4 45%, #5cffc300 80%);
  border-image-slice: 1;
}
.point:hover{

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.06) 45%, rgba(255, 255, 255, 0) 100%);
}
.report_text h3 {
  position: relative;
  margin-bottom: 4%;
  border-left: 0.14rem solid;
  border-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
  padding-left: 1%;
  line-height: 2.4rem;
}
.eje-x::after{
  content: "";
  position: absolute;
  top: 0%;
  left: 2%;
  width: 100%;
  height: 35%;
  background-image: url("data:image/svg+xml,%3Csvg width='1162' height='13' viewBox='0 0 1162 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5 8V13H12.5V8H13.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.5 8V13H24.5V8H25.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.5 5V13H36.5V5H37.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M49.5 8V13H48.5V8H49.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M61.5 8V13H60.5V8H61.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M86 8V13H85V8H86Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M98 8V13H97V8H98Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M110 5V13H109V5H110Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M122 8V13H121V8H122Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M134 8V13H133V8H134Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M158.5 8V13H157.5V8H158.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M170.5 8V13H169.5V8H170.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M182.5 5V13H181.5V5H182.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M194.5 8V13H193.5V8H194.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M206.5 8V13H205.5V8H206.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M231 8V13H230V8H231Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M243 8V13H242V8H243Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M255 5V13H254V5H255Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M267 8V13H266V8H267Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M279 8V13H278V8H279Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M303.5 8V13H302.5V8H303.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M315.5 8V13H314.5V8H315.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M327.5 5V13H326.5V5H327.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M339.5 8V13H338.5V8H339.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M351.5 8V13H350.5V8H351.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M376 8V13H375V8H376Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M388 8V13H387V8H388Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M400 5V13H399V5H400Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M412 8V13H411V8H412Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M424 8V13H423V8H424Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M448.5 8V13H447.5V8H448.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M460.5 8V13H459.5V8H460.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M472.5 5V13H471.5V5H472.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M484.5 8V13H483.5V8H484.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M496.5 8V13H495.5V8H496.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M521 8V13H520V8H521Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M666 8V13H665V8H666Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M883.5 8V13H882.5V8H883.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1028.5 8V13H1027.5V8H1028.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M533 8V13H532V8H533Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M678 8V13H677V8H678Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M895.5 8V13H894.5V8H895.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1040.5 8V13H1039.5V8H1040.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M545 5V13H544V5H545Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M690 5V13H689V5H690Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M907.5 5V13H906.5V5H907.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1052.5 5V13H1051.5V5H1052.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M557 8V13H556V8H557Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M702 8V13H701V8H702Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M919.5 8V13H918.5V8H919.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1064.5 8V13H1063.5V8H1064.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M569 8V13H568V8H569Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M714 8V13H713V8H714Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M931.5 8V13H930.5V8H931.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1076.5 8V13H1075.5V8H1076.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M593.5 8V13H592.5V8H593.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M811 8V13H810V8H811Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M738.5 8V13H737.5V8H738.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M956 8V13H955V8H956Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1101 8V13H1100V8H1101Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M605.5 8V13H604.5V8H605.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M823 8V13H822V8H823Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M750.5 8V13H749.5V8H750.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M968 8V13H967V8H968Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1113 8V13H1112V8H1113Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M617.5 5V13H616.5V5H617.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M835 5V13H834V5H835Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M762.5 5V13H761.5V5H762.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M980 5V13H979V5H980Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1125 5V13H1124V5H1125Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M629.5 8V13H628.5V8H629.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M847 8V13H846V8H847Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M774.5 8V13H773.5V8H774.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M992 8V13H991V8H992Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1137 8V13H1136V8H1137Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M641.5 8V13H640.5V8H641.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M859 8V13H858V8H859Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M786.5 8V13H785.5V8H786.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1004 8V13H1003V8H1004Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1149 8V13H1148V8H1149Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.5 0V13H0V0H1.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M74 0V13H72.5V0H74Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M146.5 0V13H145V0H146.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M219 0V13H217.5V0H219Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M291.5 0V13H290V0H291.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M364 0V13H362.5V0H364Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M436.5 0V13H435V0H436.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M509 0V13H507.5V0H509Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M581.5 0V13H580V0H581.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M726.5 0V13H725V0H726.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M944 0V13H942.5V0H944Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1089 0V13H1087.5V0H1089Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M654 0V13H652.5V0H654Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M871.5 0V13H870V0H871.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M799 0V13H797.5V0H799Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1016.5 0V13H1015V0H1016.5Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1161.5 0V13H1160V0H1161.5Z' fill='%23F5F5F5'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.eje-x{
  padding: 0 0 0 0;
  height: 4rem;

}

.report_text h3::before {
  position: absolute;
  top: 75%;
  left: 1%;
  content: "Portfolio Report";
  font-weight: 300;
  font-size: 0.9rem;
}

.report_text h3::after {
  position: absolute;
  right: 0;
  content: "";
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("../img/Help.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.report_text p {
  position: relative;
  margin-left: 3%;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.report_text p:nth-child(2) {
  margin-bottom: 1.2%;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 30%;
  z-index: 1;
}

a.slide_btn {
  color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  margin: 0 0.1em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: var(--bluew);
  cursor: pointer;
}

.previous_btn {
  bottom: 0;
  left: 3vw;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: 2;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 3vw;
  top: 0;
  z-index: 2;
}

.previous_btn,
.next_btn {
  cursor: pointer;
  height: 5vh;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 5vh;
}

.previous_btn:hover,
.next_btn:hover {
  opacity: 1;
}

/* .slide:first-child .previous_btn {
    visibility: hidden;
}

.slide:last-child .next_btn {
    visibility: hidden;
} */

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }

  .next_btn {
    right: 50px;
  }
}

#slider-wrapper {
  /* width: 100%; */
  height: 100vh;
  position: relative;
  margin-bottom: 0px;
  /* background: rgba(0, 0, 0, 0.5); */
  overflow: hidden;
}

#s1 {
  width: 100%;
  height: 100%;
  background: #000000;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 3;
}

#s2 {
  width: 100%;
  height: 100%;
  background: #000000;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 3;
}

#s5 {
  width: 100%;
  height: 100%;
  background: #000000;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 0;
}

#s3 {
  /* width: 100%;
    height: 100%;
    background: #000000;
    bottom: 0;
    right:0;
    margin: auto;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 3; */
}

#s4 {
  width: 100%;
  height: 100%;
  background: #000000;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 3;
}



#Slide3:checked~.overflow-wrapper {
  transform: translateX(-29.12%);
}

#Slide1:checked~.overflow-wrapper {
  transform: translateX(0%);
}
#Slide1:checked~.portfolio_my{
  opacity: 0.2;
}

#Slide2:checked~.overflow-wrapper {
  transform: translateX(-29.12%);
}

#Slide4:checked~.overflow-wrapper {
  transform: translateX(-58.3%);
}

#Slide5:checked~.overflow-wrapper {
  transform: translateX(-29.12%);
}

#Slide5:checked~.next_btn {
  visibility: hidden;
}

#Slide4:checked~.next_btn {
  visibility: hidden;
}

#Slide3:checked {
  visibility: hidden;
}

#Slide2:checked~.previous_btn {
  visibility: hidden;
}

#Slide1:checked~.previous_btn {
  visibility: hidden;
}

#Slide3:checked+#Slide5+.next_btn {
  visibility: hidden;
}

#Slide5:checked+.next_btn {
  visibility: hidden;
}

#Slide2:checked+.previous_btn {
  visibility: hidden;
}

.previous_btn::after {
  content: "재테크 현황분석";
  position: absolute;
  left: 140%;
  top: 0;
  line-height: 5vh;
  white-space: nowrap;
  font-size: 1.1rem;
}

.next_btn::after {
  content: "재테크 상세분석";
  position: absolute;
  right: 140%;
  top: 0;
  line-height: 5vh;
  white-space: nowrap;
  font-size: 1.1rem;
}

.overflow-wrapper {
  width: 240%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  /* overflow-y: hidden; */
  z-index: 1;
  margin-top: 0.6%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overflow-wrapper::before{
  content: "";
  position: absolute;
  left: 29%;
  top: 0;
  width: 6.5%;
  height: 100%;
  background: linear-gradient(to left, #16191d99 0%, #16191d 70%);
  border-right: 0.2rem solid;
  border-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
  transition: all 0.1s ease-out;
  z-index: 100;
  /* backdrop-filter: blur(5px); */
}
.overflow-wrapper::after{
  content: "";
  position: absolute;
  right: 29%;
  top: 0;
  width: 6.5%;
  height: 100%;
  background: linear-gradient(to right, #16191d99 0%, #16191d 70%);
  border-left: 0.2rem solid;
  border-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
  transition: all 0.1s ease-out;
  z-index: 100;
  /* backdrop-filter: blur(5px); */
}
/* .overflow-wrapper::before{
  left: 35.5%;
  width: 10%;
  border-left: 0.2rem solid;
}
.overflow-wrapper::after{
  right: 35.5%;
  width: 10%;
  border-right: 0.2rem solid;
} */
#Slide1:checked ~ .overflow-wrapper::before{
  left: 35.5%;
  border-right: 0;
  border-left: 0.2rem solid;
}
#Slide4:checked ~ .overflow-wrapper::after{
  right: 35.5%;
  border-left: 0;
  border-right: 0.2rem solid;
}

@media screen and (max-width:2200px) {
  
.title_horizon li {
  position: relative;
  margin-right: 3%;
  list-style: none;
  line-height: 2.2rem;
}

.title_mar {
  position: relative;
}

.title_horizon h3:first-child {
  position: relative;
  font-size: 1.6rem;
  display: inline-block;
  margin-right: 5%;
  font-weight: 500;
}

.title_horizon h3:nth-child(2) {
  position: relative;
  font-size: 1.1rem;
  display: inline-block;
  margin-right: 16%;
  font-weight: 500;
}
.moneyNum{
  margin: 0px 0px 2%;
  font-size: 1.6rem;
}
.title_horizon p {
  font-size: 0.85rem;
  display: inline;
  position: relative;
  right: -25%;
  /* top: 50%; */
  /* right: -40%; */
  color: rgba(255, 255, 255, 0.5);
  margin-right: 0.8%;
}

.title_horizon p:last-child {
  color: #2790F1;
  margin-right: 0;
  cursor: pointer;
}

.title_horizon p:nth-child(3)::after {
  content: "|";
  margin-left: 1%;
}

.title_horizon p:last-child:after {
  position: absolute;
  top: 10%;
  right: -20%;
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background-image: url("../img/barrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
  .title_horizon1 li {
    float: left;
    margin-right: 7%;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  
  .title_horizon1 li:last-child {
    margin-right: 0;
  
  }
  
  .title_horizon1 li::before {
    content: '';
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    margin: -5% 12% 0 0;
    vertical-align: middle;
    background: var(--white);
    border-radius: 50%
  }

.report_text {
  position: relative;
  margin-top: 8%;
}

.report_text h3 {
  position: relative;
  margin-bottom: 4%;
  border-left: 0.14rem solid;
  border-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(240, 240, 240, 0) 100%);
  border-image-slice: 1;
  padding-left: 1%;
  line-height: 2.4rem;
  font-size: 1rem;
}

.report_text h3::before {
  position: absolute;
  top: 70%;
  left: 1%;
  content: "Portfolio Report";
  font-weight: 300;
  font-size: 0.8rem;
  opacity: 0.6;
}

.report_text h3::after {
  position: absolute;
  right: 0;
  content: "";
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("../img/Help.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.report_text p {
  position: relative;
  margin-left: 3%;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.report_text p:nth-child(2) {
  margin-bottom: 1.2%;
}


/* 슿라이드 버튼*/
.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 30%;
  z-index: 1;
}

a.slide_btn {
  color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  margin: 0 0.1em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: var(--bluew);
  cursor: pointer;
}

.previous_btn {
  bottom: 0;
  left: 3vw;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: 2;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 3vw;
  top: 0;
  z-index: 2;
}

.previous_btn,
.next_btn {
  cursor: pointer;
  height: 5vh;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 5vh;
}

.previous_btn:hover,
.next_btn:hover {
  opacity: 1;
}

.previous_btn::after {
  content: "현황분석";
  position: absolute;
  left: 130%;
  top: 0;
  line-height: 5vh;
  white-space: nowrap;
  font-size: 1rem;
}

.next_btn::after {
  content: "상세분석";
  position: absolute;
  right: 130%;
  top: 0;
  line-height: 5vh;
  white-space: nowrap;
  font-size: 1rem;
}

}