html::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10rem;
    
  }
  html::-webkit-scrollbar {
    width: 0.45vw;
    background: transparent;
  }
  body{
    overflow: overlay;
  }