html::-webkit-scrollbar-thumb {
    background-color: rgba(152, 196, 255, 0.7);
    border-radius: 8rem;
    
  }
  html::-webkit-scrollbar {
    width: 1rem;
    background: transparent;
  }
  body{
    overflow: overlay;
  }