:root{
    --white:#fff;
    --dark:#000;
    --blue: #4BA9FF;
    --bluew: #2790F1;
    --bgdark: #202328;
    --bshadow:rgba(255, 255, 255, 0.7);
  }
  body{
    font-family: 'Inter', sans-serif;
    background: #DADADA;
  }
  *{
    margin: 0;
    padding: 0;
  }
.framecontainer{
  position: relative;
    margin: 0 10vw;
    padding-bottom: 16vw;
    /* width: 80%; */
    /* display:flex;
    justify-content: center; */
    /* align-items: center; */
    background: #F0F0F0;

}

.titleh1{
    padding-top: 10vw;
    text-align: center;
    margin: 0 0 8% 0;

}
.ti1{
    font-weight: 400;
    font-size: 42px;
}
.ti2{
  margin-top: 2%;
    font-size: 22px;
    font-weight: 300;
}
.subcontainer{
    text-align: center;
}
.ser{
  position: relative;
  margin: 0 14%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.serbox1:nth-child(1){
  background: #202328;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  width: 470px;
  height: 340px;
  display: inline-block;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 2px solid transparent;
  background-image: linear-gradient(#D2DAE7, #D2DAE7), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(22, 25, 30, 0.2) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
  
}
.serbox1:nth-child(2){
    background: #D2DAE7;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.35);
    border-radius: 12px;
    width: 560px;
    height: 340px;
    display: inline-block;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    /* border: 2px solid transparent;
    background-image: linear-gradient(#D2DAE7, #D2DAE7), 
    linear-gradient(107.42deg, #414955 1.37%, rgba(22, 25, 30, 0.2) 97.97%);
    background-origin: border-box;
    background-clip: content-box, border-box; */
    
}
.serbox1:nth-child(2) img{
  transform: translateY(6%);
}
.serbox1:nth-child(1) img{
  transform: translateY(40%);
}

.serbox2{
    
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    width: 330px;
    height: 340px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}
.serbox2 img{
transform: translateY(26%);
}
.serbox2:nth-child(3){
    background: #0E2242;
    
}
.serbox2:nth-child(4){
    background: #4F5867;
    
}
.serbox2:nth-child(5){
    background: #2D323A;
}
.ser_boxtop{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  margin: 4% 12% 8% 12%;
}
.ser_box{
  border: 2px solid rgba(0, 0, 0, 0.06);
  width: 24rem;
  height: 16rem;
  display: inline-block;
  border-radius: 0.5vw;
  background: var(--bgdark);
  margin-top: 6%;
  flex: 1 0 40%;
  position: relative;
}
.ser_box:nth-child(even){
  margin-left: 14%;
}
.ser_boxinner{
  margin-top: 5%;
  margin-left: 4%;
  font-size: 0.86rem;
  color: rgb(227, 227, 227);
}
.sertext{
  position: absolute;
  left: 1.8rem;
  top: 1.4rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
}

.sertext4{
  position: absolute;
  left: 1.8rem;
  top: 3.9rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--white);
}
.bk{
  color: var(--dark);
}
img{
  transition: all 0.1s ease-out;
}
.serbox1:nth-child(2):hover img{
  transform: scale(1.12) translateY(4%);

}
.serbox2:hover img{
  transform: scale(1.12) translateY(24%);
}

/* logo */
.title_logo{
  text-align: left;
  padding-top: 10vw;
  margin: 0 12% 8% 12%;

}
.sect{
  margin-top: 17%;
}

.sect:nth-child(1){
  margin-top: 0%;
}
.ti1_ser{
  font-weight: 400;
    font-size: 42px;
}
.ti2_ser{
  margin-top: 2%;
    font-size: 1rem;
    font-weight: 300;
}
.ti2_ser1{
    font-size: 1rem;
    font-weight: 300;
}
.ser_logoimg{
  margin-top: 5%;
  text-align: center;
}
.ti1_ser1{
  
  font-weight: 400;
    font-size: 42px;
}
.ser_logoimg1{
  text-align: center;
  padding: 4%;
  margin: 8% 20% 4% 20%;
  border-radius: 0.6vw;
  background-color: var(--bgdark);
}
.ser_logoimg2{
  text-align: center;
  padding: 4%;
  margin: 8% 0 4% 0;
  border-radius: 0.5vw;
  background-color: var(--bgdark);
  white-space: nowrap;
  
}
.ser_logoimg2_w{
  text-align: center;
  padding: 4%;
  margin: 8% 0 4% 0;
  border-radius: 0.5vw;
  
  white-space: nowrap;
  
}
.ser_logoimg2 img:nth-child(1){
  margin-left: -14%;
  
}
.ser_logoimg1b{
  text-align: center;
  padding: 4%;
  margin: 8% 0 4% 0;
  border-radius: 0.7vw;
  /* background-color: var(--bgdark); */
  white-space: nowrap;
  
}
.ser_logoimg3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  /* margin: 20% 10% 10%; */
}
.ser_logoimg3 img{
  width: 8.6rem;
  
  
  
}
.ser_logoimg3 .h{
  height: 5.6rem;
  
  
  
}
.ser_logoimg3 .w{
  width: 14rem;
  
  
  
}
.ser_box:nth-child(1) img{
  transform:  rotateZ(0deg);
}
.ser_box:nth-child(7) img{
  height: 7.8rem;
}

.ser_box:nth-child(8){
  background: #2db400;
}

.ser_box:nth-child(9) img{
  filter: drop-shadow(1px 1px 2px rgb(142, 142, 142));
}
.ser_box:nth-child(10){
  visibility: hidden;
}