:root{
    --white:#fff;
    --dark:#000;
    --blue: #4BA9FF;
    --bluew: #2790F1;
    --bgdark: #202328;
    --bshadow:rgba(255, 255, 255, 0.7);
  }
  body{
    font-family: 'Inter', sans-serif;
    background: #DADADA;
  }
  *{
    margin: 0;
    padding: 0;
  }
.framecontainer{
  position: relative;
    margin: 0 10vw;
    padding-bottom: 16vw;
    /* width: 80%; */
    /* display:flex;
    justify-content: center; */
    /* align-items: center; */
    background: #F0F0F0;

}
.titleh1{
    padding-top: 10vw;
    text-align: center;
    margin: 0 0 8% 0;

}
.ti1{
    font-weight: 400;
    font-size: 42px;
}
.ti2{
  margin-top: 2%;
    font-size: 22px;
    font-weight: 400;
}
.subcontainer{
    text-align: center;
}
.ser{
  position: relative;
  margin: 0 14%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.serbox1:nth-child(1){
  background: #202328;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 470px;
  height: 340px;
  display: inline-block;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 2px solid transparent;
  background-image: linear-gradient(#D2DAE7, #D2DAE7), 
  linear-gradient(107.42deg, #414955 1.37%, rgba(22, 25, 30, 0.2) 97.97%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
  
}
.serbox1:nth-child(2){
    background: #D2DAE7;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 560px;
    height: 340px;
    display: inline-block;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    /* border: 2px solid transparent;
    background-image: linear-gradient(#D2DAE7, #D2DAE7), 
    linear-gradient(107.42deg, #414955 1.37%, rgba(22, 25, 30, 0.2) 97.97%);
    background-origin: border-box;
    background-clip: content-box, border-box; */
    
}
.serbox1:nth-child(2) img{
  transform: translateY(6%);
}

.serbox2{
    
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 330px;
    height: 340px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}
.serbox2 img{
transform: translateY(26%);
}
.serbox2:nth-child(3){
    background: #0E2242;
    
}
.serbox2:nth-child(4){
    background: #4F5867;
    
}
.serbox2:nth-child(5){
    background: #2D323A;
}

.sertext{
  position: absolute;
  left: 1.8rem;
  top: 1.4rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
}

.sertext4{
  position: absolute;
  left: 1.8rem;
  top: 3.6rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--white);
}
.bk{
  color: var(--dark);
}
img{
  transition: all 0.14s ease-out;
}
.serbox1:nth-child(2):hover img{
  transform: scale(1.15) translateY(4%);
  
}
.serbox2:hover img{
  transform: scale(1.15) translateY(24%);
  
  
}