*{
  margin: 0;
  padding: 0;
  object-fit: none;
}
html{
 background-color: #C7CCD7;
overflow: overlay;
/* scroll-snap-points-y: repeat(100vh); */
/* scroll-snap-type: y proximity; */
/* scroll-behavior: smooth; */
}

html::-webkit-scrollbar-thumb {
  background-color: hsla(214, 96%, 51%, 0.49);
  border-radius: 100px;
  
}
html::-webkit-scrollbar {
  width: 0.5vw;
}
.ukiyo{

}
.hero-inner + div{
 overflow: visible !important;
}

.bg1{
 background-image: url("./img_/msb.png"), url("./img_/msw.png");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode:normal; */
  
  width: 100vw;
  height: 100vh;
  transition: all 0.12s ease-out;
 /* top: -100vh; */
 /* position: absolute; */
 left: -11%;
 right: 0;
 top: -48%;
 bottom: 0;
 opacity: 0.15;
 /* transform: translateX(-12%) translateY(-47%); */
}
.bg2{
 background-image: url("./img_/news.jpg"), url("./img_/news_on.jpg");
 /* background: url("./img_/news.jpg") no-repeat center, url("./img_/news_on.jpg") no-repeat center; */
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100vw;
  height: 100vh;
  transition: all 0.12s ease-out;
}
.bg3{
 background-image: url("./img_/com.jpg"), url("./img_/com_on.jpg");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  transition: all 0.12s ease-out;
}
.bg4{
 background-image: url("./img_/ser.jpg"), url("./img_/ser_on.jpg");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  transition: all 0.12s ease-out;
}
.bg5{
 background-image: url("./img_/por.jpg"), url("./img_/por_on.jpg");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  transition: all 0.12s ease-out;
}
.bg6{
 
}
.hero1{
  position: relative;
  
}


.title1:hover + div .bg1{
  background-image: url("./img_/news_on.jpg");
}
.title2:hover + div .bg2{
 background-image: url("./img_/news_on.jpg");
}
.title3:hover + div .bg3{
 background-image: url("./img_/com_on.jpg");
}
.title4:hover + div .bg4{
 background-image: url("./img_/ser_on.jpg");
}
.title5:hover + div .bg5{
 background-image: url("./img_/por_on.jpg");
}
.title6:hover + div .bg6{
 background-image: url("./img_/news_on.jpg");
}
.box{
 position: relative;
 height: 100vh;
}
section {
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  clip: rect(0, auto, auto, 0);
  z-index: 1;
}

article {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  clip: rect(0, auto, auto, 0);
  z-index: 1;
  
  
}
.hero-inner {
 position: absolute;
 overflow: hidden;
 width: 100%;
 height: 100%;
 clip: rect(auto, auto, auto, auto);
 font-family: ;
 z-index: 1;
}
.hero1 .hero-inner{
 -webkit-mask-image: url(./img_/comma.png);
     mask-image: url(./img_/comma.png);
     -webkit-mask-repeat: no-repeat;
     mask-repeat: no-repeat;
     -webkit-mask-position: center center;
     mask-position: center center;
     -webkit-mask-size: 16vw;
     mask-size: 16vw;
     opacity: 0.95;
     width: 100%;
     height: 100vh;
     left: 0;
     top: 5vh;
     
     
}
.title1, .title2, .title3, .title4, .title5 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 8vw;
  color: white;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: block;
  
  letter-spacing: 2px;
  
  
}
a{
 text-decoration: none;
}
#con1{}
